<extend name="Public/base" />
<block name="main-content">
    <div class="page-content">

        <!--主题-->
        <div class="page-header">
            <h1>
                您当前操作
                <small>
                    <i class="ace-icon fa fa-angle-double-right"></i>
                    编辑商户
                </small>
            </h1>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <form class="form-horizontal ajaxForm2" name="userinfo_edit" method="post" action="{:U('userinfo_runedit')}">
                    <input type="hidden" name="id" id="id" value="{$userinfo_edit.id}" />
                    <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 商户名称：  </label>
                        <div class="col-sm-10">
                            <input type="text" name="member_name" id="member_name" value="{$userinfo_edit.member_name}" class="col-xs-10 col-sm-4" required/>
                            <span class="lbl">&nbsp;&nbsp;<span class="red">*</span>必填</span>
                        </div>
                    </div>
                    <div class="space-4"></div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 公司电话：  </label>
                        <div class="col-sm-10">
                            <input type="text" name="tel" id="tel" value="{$userinfo_edit.tel}" class="col-xs-10 col-sm-4" maxlength="15" minlength="5" required/>
                            <span class="lbl">&nbsp;&nbsp;<span class="red">*</span>必填</span>
                        </div>
                    </div>
                    <div class="space-4"></div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 所属行业：  </label>
                        <div class="col-sm-10">
                            <input type="text" name="industry" id="industry" value="{$userinfo_edit.industry}" class="col-xs-10 col-sm-4" />
                        </div>
                    </div>
                    <div class="space-4"></div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 公司地址：  </label>
                        <div class="col-sm-10">
                            <input type="text" name="address" id="address" value="{$userinfo_edit.address}" class="col-xs-10 col-sm-4" />
                        </div>
                    </div>
                    <div class="space-4"></div>

                    <!-- <div class="form-group">
                         <label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 营业执照：  </label>
                         <div class="col-sm-10">
                             <input type="file" name="license" id="license" placeholder="0" class="col-xs-10 col-sm-4" />
                         </div>
                     </div>
                     <div class="space-4"></div>

                     <div class="form-group">
                         <label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 组织机构代码证：  </label>
                         <div class="col-sm-10">
                             <input type="file" name="organization" id="organization" placeholder="组织机构代码证" class="col-xs-10 col-sm-4" />
                         </div>
                     </div>
                     <div class="space-4"></div>

                     <div class="form-group">
                         <label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 税务登记证：  </label>
                         <div class="col-sm-10">
                             <input type="file" name="taxation" id="taxation" placeholder="税务登记证" class="col-xs-10 col-sm-4" />
                         </div>
                     </div>
                     <div class="space-4"></div>-->

                    <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 支付密码：  </label>
                        <div class="col-sm-10">
                            <input type="password" name="paypsd" id="paypsd" value="{$userinfo_edit.paypsd}" class="col-xs-10 col-sm-4" />
                        </div>
                    </div>
                    <div class="space-4"></div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 加密秘钥：  </label>
                        <div class="col-sm-10">
                            <input type="text" name="md5key" id="md5key" value="{$userinfo_edit.md5key}" class="col-xs-10 col-sm-4" readonly />
                        </div>
                    </div>
                    <div class="space-4"></div>


                    <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 入金手续费规则： </label>
                        <div class="col-sm-10">
                            <select name="payin_rate"  class="col-sm-4 selector" required>
                                <option value="">规则名称</option>
                                <foreach name="payin_rate" item="v">
                                    <option value="{$v.id}" <if condition="$v['id'] eq $userinfo_edit.payin_rate">selected</if>>{$v['inrate']*100}%</option>
                                </foreach>
                            </select>
                        </div>
                    </div>
                    <div class="space-4"></div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 入金支付公司：  </label>
                        <div class="col-sm-10">
                            <select name="payin_id" id="payin_id" class="col-sm-4 selector" onChange="loadPayInMid('payin_id','payin_mid','{:U('Ajax/getMid')}');">
                                <option value="0" selected>支付公司名称</option><volist name="payment_name" id="voi">
                                <option value="{$voi.api_id}" <if condition="$v['api_id'] eq $userinfo_edit.payin_id">selected</if> >{$voi.api_china_name}</option></volist>
                            </select>
                            <select name="payin_mid" id="payin_mid" class="col-sm-4 selector"  onchange="loadPayInMid('payin_mid','','{:U('Ajax/getMid')}');">
                                <option value="0">入金MID</option>
                            </select>
                        </div>
                    </div>
                    <div class="space-4"></div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 出金手续费规则： </label>
                        <div class="col-sm-10">
                            <select name="payout_rate"  class="col-sm-4 selector" required>
                                <option value="">规则名称</option>
                                <foreach name="payout_rate" item="v">
                                    <option value="{$v.id}">{$v.outrate}</option>
                                </foreach>
                            </select>
                        </div>
                    </div>
                    <div class="space-4"></div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 出金支付公司：  </label>
                        <div class="col-sm-10">
                            <select name="payout_id" id="payout_id" class="col-sm-4 selector" onChange="loadPayOutMid('payout_id','payout_mid','{:U('Ajax/getMid')}');">
                                <option value="0" selected>支付公司名称</option><volist name="payment_name" id="vo">
                                <option value="{$vo.api_id}" >{$vo.api_china_name}</option></volist>
                            </select>
                            <select name="payout_mid" id="payout_mid" class="col-sm-4 selector"  onchange="loadPayOutMid('payout_mid','','{:U('Ajax/getMid')}');">
                                <option value="0">出金MID</option>
                            </select>
                        </div>
                    </div>
                    <div class="space-4"></div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 自动出金：  </label>
                        <div class="col-sm-10">
                            <label>
                                <input name="payout_auto" type="radio" value="0" checked class="ace" />
                                <span class="lbl"> 手动 </span>&nbsp;&nbsp;
                            </label>
                            <label>
                                <input name="payout_auto" type="radio" value="1" class="ace" />
                                <span class="lbl"> 自动 </span>
                            </label>
                        </div>
                    </div>
                    <div class="space-4"></div>

                    <div class="clearfix form-actions">
                        <div class="col-md-offset-3 col-md-9">
                            <button class="btn btn-info" type="submit">
                                <i class="ace-icon fa fa-check bigger-110"></i>
                                保存
                            </button>

                            &nbsp; &nbsp; &nbsp;
                            <button class="btn" type="reset">
                                <i class="ace-icon fa fa-undo bigger-110"></i>
                                重置
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div><!-- /.page-content -->
</block>
<block name="scripts">
    <script type="text/javascript" src="__PUBLIC__/others/region.js"></script>
</block>
