<include file="Public:indexhead"/>

<div class="page-title-container">
    <div class="page-title">
        <div class="container">
            <h1 class="entry-title">私隱政策</h1>
        </div>
    </div>
</div>

<section id="content">
    <div class="section">
        <div class="container">
            <div class="col-md-offset-1 col-md-10 col-md-offset-1 center">


                <div class="row">
                    <ul class="terms">

                        <p><strong>A. 個人資料收集聲明及私隱政策的闡釋</strong></p>
                        <p>於提供任何個人資料前，請詳閱下列要點。</p>

                        <li>
                            <h5>訂義</h5>
                            <p>1. 除文意另有所指，下述詞語在本私隱政策中出現具和如下所賦予的意義。</p>
                            <p>「個人資料」指個人資料（私隱）條例中就個人資料一詞的訂義。</p>
                            <p>「Global Speed Link」指Global Speed Link Limited 。</p>
                        </li>

                        <li>
                            <h5>互聯網傳送並不絕對安全</h5>
                            <p>2. 因互聯網乃一個開放系統，客戶透過互聯網傳送電郵或其他電子信息給Global Speed Link並不是絕對安全可靠。Global Speed Link並不擔保或保證透過互聯網及其他電子通訊系統所傳送訊息的安全性。Global Speed Link一概不負責使用者透過互聯網及其他電子通訊系統傳送電郵或其他電子信息至Global Speed Link或Global Speed Link應使用者要求傳送電郵或其他電子信息時使用者所遭受的任何損害及損失。</p>
                        </li>

                        <li>
                            <h5>收集及使用目的</h5>
                            <p>3. 除了瀏覽者本人所提供的個人資料，Global Speed Link不會收集其他關於瀏覽者的任何個人資料，以識別任何Global Speed Link網址的瀏覽者身份。</p>
                            <p>4. Global Speed Link致力維持其所持有的個人資料的保密性。惟向Global Speed Link提供個人資料，則閣下同意個人資料可能用作以下用途：</p>
                            <p>4.1 處理客戶、非客戶（如適用）及客戶為其作為擔保人或向其提供第三方抵押的人士所提出的服務申請，及Global Speed Link所提供服務的日常運作；</p>
                            <p>4.2 客戶關係管理（包括但不限於長期惠顧獎賞計劃或特惠及獎賞計劃），及非客戶（例如講座及其他活動的出席者及參與者）的關係管理；</p>
                            <p>4.3	維持客戶或任何擔保人的信用記錄作為現在或將來參考之用；</p>
                            <p>4.4	改良、增强、設計及開展供客戶使用的現存或新的金融服務或相關產品（包括在適當的情況下向客戶提供財務意見）；</p>
                            <p>4.5	倘若資料當事人在帳戶申請表或其他申請表中或經其他途徑同意（包括表示不反對）使用其個人資料為Global Speed Link的成員公司或集團以外公司作直接促銷用途，則會用作推廣金融及相關的服務、產品和貨品；</p>
                            <p>4.6	決定客戶或任何擔保人與Global Speed Link之間的債務數額；</p>
                            <p>4.7	向客戶或任何擔保人追收欠款；</p>
                            <p>4.8	滿足適用法例或規例下所提出的資料披露請求或要求；</p>
                            <p>4.9	使Global Speed Link在合併、併合、重組或其他情況下的實際或建議的承讓人對擬作轉讓的交易進行評核；</p>
                            <p>4.10	任何其他在Global Speed Link成員公司網站或申請表上不時披露的其他用途；</p>
                            <p>4.11	在任何法院或主管當局展開或進行答辯或以其他形式參與任何法律或行政程序或研訊；</p>
                            <p>4.12	尋求或取得的行政、電訊、電腦、付款、債務追討或<!--證券結算、託管、審計、銀行、融資、保險、業務諮詢、外判服務或-->其他提供予Global Speed Link的與其業務經營相關的服務；以及</p>
                            <p>4.13	任何與上述直接或間接有關或附帶的用途。</p>
                        </li>

                        <li>
                            <h5>潛在的接獲資料者的類別</h5>
                            <p>5.	Global Speed Link致力維持其所持有客戶或非客戶（如適用）個人資料的保密性。惟Global Speed Link可以根據其獨有酌情權向下列人士提供該等資料，用作直接促銷（倘若經其同意（包括表示不反對））或本私隱政策所容許的其他目的：</p>
                            <p>5.1	任何向Global Speed Link提供行政、電訊、電腦、付款、追討債務、<!--證券結算、託管、審計、銀行、融資、保險、風險管理、業務諮詢、外判服務、-->客戶關係管理、營銷或其他Global Speed Link業務運作相關服務的代理人、承辦商或第三方服務供應商（不論在香港或其他地方）；</p>
                            <p>5.2	在香港或其他地方的Global Speed Link任何成員的分支機構或辦事處；</p>
                            <p>5.3	作為擔保人或擬作為擔保人的任何人士；</p>
                            <p>5.4	對Global Speed Link（或任何集團成員）負有保密責任或者經已承諾對該等資料保密的任何人士；</p>
                            <p>5.5	與客戶進行交易或擬作交易的任何金融機構；</p>
                            <p>5.6	信貸資料服務機構；如果客戶欠帳，可將資料提供予債務追討機構；</p>
                            <p>5.7	Global Speed Link任何成員的任何實際或提議的承讓人或受讓人；</p>
                            <p>5.8	依循法例或任何監管規則而需要披露予的任何人士，包括依循法院、仲裁庭、金融糾紛調解中心有限公司、政府、監管或其他團體或機構的任何規則、判決、決定或裁決，不論是適用於任何Global Speed Link成員的法律或監管要求或其他情況；或者是依循任何公司藉《證券及期貨條例》第329條所發出的通知。</p>
                        </li>

                        <li>
                            <h5>查閱及改正個人資料</h5>
                            <p>6. 閣下可要求查閱及更正Global Speed Link所持有閣下的個人資料（如有的話）。倘若閣下希望查閱或更正Global Speed Link所持有閣下的個人資料，可書面通知Global Speed Link的私隱主任，地址為香港尖沙咀金巴利道45-47號金巴利廣場6樓。Global Speed Link可能會收取合理費用，以處理任何查閱資料之要求。</p>
                        </li>

                        <li>
                            <h5>其他適用的個人資料收集聲明</h5>
                            <p>7. 倘若閣下是Global Speed Link任何成員的客戶，則就相關帳戶而言，「客戶協議及附件」中的個人資料附件會取代本私隱政策而適用，因本私隱政策乃屬一般性質。倘若有關個人資料是透過某一活動（例如出席講座）的申請表所收集，則該活動申請表上的個人資料收集聲明將補充本私隱政策。如有不一致之處，以該活動申請表上的個人資料收集聲明為準，惟僅局限於該不一致之處。</p>
                        </li>

                        <li>
                            <h5>其他免責聲明</h5>
                            <p>8. Global Speed Link就其任何員公司網站上的資料致力提供準確而可靠的資料，但並不擔保或保證該等資料的準確性及可靠性，亦不會就其錯漏之處或其他任何原因而令閣下蒙受損失或損害承擔任何責任（不論是侵權的或是合同的責任或基於其他理據）。</p>
                        </li>

                        <li>
                            <h5>重要事項</h5>
                            <p>9. 閣下於瀏覽本網站的任何內頁，即表示你同意上述的合約條款。倘若閣下不同意本私隱政策，閣下不應閱覽或以其他方式使用本網站或其任何內容。如本私隱政策之中英文版本有不一致之處，以英文版本為準。</p>
                        </li>
                        <hr>
                        <p><strong>B. 拒絕使用個人資料作為直接促銷用途</strong></p>
                        <p>要求停止接收直接促銷資料</p>
                        <p>根據《個人資料 (私隱) 條例》（「條例」），在提供有關個人資料後，閣下可以隨時要求停止接收直接促銷資料。閣下可透過以下聯絡方式提出要求停止接收Global Speed Link的直接促銷資料。Global Speed Link將免費處理閣下之要求。</p>
                        <p>Global Speed Link Limited</p>
                        <p>九龍尖沙咀科學館道14號新文華中心A座9樓917室</p>
                        <p>電話: （+852）30623000</p>
                        <p>電郵: info@globalspeedlink.com</p>

                    </ul>
                </div>


            </div>
        </div>
    </div>
</section>


<include file="Public:indexfooter"/>