<include file="Public:indexhead"/>

<div class="page-title-container">
    <div class="page-title">
        <div class="container">
            <h1 class="entry-title">關於<span>環球速聯</span></h1>
        </div>
    </div>
</div>

<section id="content">
    <div class="section">
        <div class="container">
            <div class="col-md-offset-1 col-md-10 col-md-offset-1 center">

                <div class="heading-box">

                    <p class="desc-lg">環球速聯是一間致力為金融機構提供資訊科技解決方案的技術顧問公司。公司創辦人擁有超過15年的專業經驗，曾經於投資銀行、上市公司及跨國企業帶領開發團隊完成多個大型項目。</p>

                </div>

                <hr>



            </div>
        </div>
    </div>
</section>


<include file="Public:indexfooter"/>