<include file="Public:indexhead"/>

<div class="page-title-container">
    <div class="page-title">
        <div class="container">
            <h1 class="entry-title">服務條款</h1>
        </div>
    </div>
</div>

<section id="content">
    <div class="section">
        <div class="container">
            <div class="col-md-offset-1 col-md-10 col-md-offset-1 center">


                <div class="row">
                    <ul class="terms">

                        <p><strong>重要提示:</strong> 若閣下進入任何網站（定義見下文）或其任何網頁，表示閣下同意、認可及確認下文所載條款並受其等所約束。為免存疑，茲說明如閣下被提供任何電子服務（定義見下文），閣下進入及使用該服務將受制於規管進入及使用該服務之條款及細則而並非受制於本服務條款。</p>
                        <br>
                        <li>
                            <h5>1. 釋義</h5>
                            <p>1.1 除文義另有指定外，在本服務條款內，下列詞語具有下列涵義：</p>
                            <p>Global Speed Link Limited 於本服務條款及網站內共同及個別稱為「Global Speed Link」。</p>
                            <p>「平台」指Global Speed Link代收代付平台。</p>
                            <p>「電子服務」指由或代Global Speed Link提供的互聯網及／或其他設施，以便客戶可在香港或其他地方根據Global Speed Link與其客戶協定的文件的條款及條件或發出電子指示及（如適用）要約，以及接收資訊及相關服務。</p>
                            <p>「香港」指中華人民共和國香港特別行政區。</p>
                            <p>「資訊」指網站所載（不論是由Global Speed Link或任何第三方提供以及不論是否因網站內提供的任何工具而產生的）或Global Speed Link透過短訊服務（「短訊」）（如適用）發出的資訊、數據、訊息、資料及其他內容。</p>
                            <p>「第三方服務供應商」指在網站內提供若干服務或其服務可在網站內或透過網站訂購的第三方。</p>
                            <p>「網站」指Global Speed Link的網站。</p>
                            <p>1.2	除文義另有指定外，在本服務條款內， (i)凡指單數之詞語，其釋義將包括眾數，反之亦然； (ii) 凡指人士之詞語，其釋義包括個人、法人團體或並非法人團體； (iii)凡指任何特定性別之詞語，其釋義均包括所有性別； (iv) 凡指法規或法定條文之詞語，其釋義包括不時生效之修訂本、續訂本、取代本、替代本或再頒佈本，並亦包括有關法規或法定條文之附屬條例；及 (iv)標題僅為方便，而在詮釋本服務條款時應無須理會。</p>
                        </li>

                        <li>
                            <h5>2. 合法性及概無要約</h5>
                            <p>2.1	若作發佈或使用資訊（或其任何部份）可能有違任何司法管轄區的任何法律或法規，或可能使Global Speed Link須受制於該司法管轄區的任何法律或監管規定，則資訊（或其 任何部份）不擬向該司法管轄區的任何人士作出發佈或供其使用。有意進入或使用網站／資訊任何部份的任何人士必須確保其無須遵守任何限制或禁止該進入或使用 的當地規定。</p>
                            <p>2.2	資訊概不構成Global Speed Link的游說或要約，以購買、出售或以其他方式交易金融工具或其他產品（不論Global Speed Link是以主事人身份或代理人身份或其他情況），或以提供任何性質的任何服務或建議。</p>
                        </li>

                        <li>
                            <h5>3. 知識產權及其他</h5>
                            <p>3.1 Global Speed Link及其他人士擁有於網站上顯示的商用名稱、商標、服務標記及標誌以及類似事物，及除非事先取得Global Speed Link及／或擁有以上所述的人士的書面同意，否則任何人士不能對其等加以使用。</p>
                            <p>3.2 資訊及由任何第三方服務供應商所提供的資訊、數據、資料、訊息及內容均受版權保護，及除非事先經Global Speed Link及／或擁有以上所述的人士的書面同意，上述各項（或其任何部份）概不得轉載、傳送、複製、出版、分發、共享、修改或以其他方式作其他用途。</p>
                            <p>3.3 閣下不得弄亂、修改、解體、逆向工程、建立連接或引入電腦病毒或其他有害成分於或未獲授權進入或使用網站或資訊中任何部分或由任何第三方服務供應商所提供的任何服務、資訊、數據、資料、訊息或內容。此外，閣下不得准許或協助他人進行上述事項。未獲授權使用網站或資訊中任何部份或任何第三方服務供應商所提供的任何服務、資訊、數據、資料、訊息或內容，包括但不限於指基於任何目的在任何其他網絡或在聯網的電腦環境下使用以上所述。</p>
                        </li>

                        <li>
                            <h5>4. 連接網站</h5>
                            <p>4.1 閣下進入或使用連接至網站的任何其他網站（「第三方網站」）或彼等各自的任何內容部分，風險概由閣下承擔。Global Speed Link概不負責與第三方網站有關的任何事項（包括但不限於其內容或其設置）。閣下進入及／或使用任何第三方網站將受該網站擁有人／提供者的條款及條件所規管（包括但不限於該網站的私隱聲明）及閣下必須遵守該等條款及條件。儘管有提供連接至第三方網站的超連接，Global Speed Link並不認可、核准、保證或推薦任何第三方、任何第三方網站或其任何產品或服務。Global Speed Link現在及將來均不會成為閣下與任何第三方網站擁有人／提供者之間的任何協議或其他安排的一方。因此，Global Speed Link概不承擔與任何第三方網站有關的或因而產生的責任，即使任何有關的通知已向Global Speed Link發出。</p>
                            <p>4.2 Global Speed Link對於與連接至任何第三方網站所需的任何軟件有關的任何事宜（包括但不限於下載有關軟件）概不負責，對閣下下載或以任何其他方式使用有關軟件的後果亦不負責。下載或使用有關軟件可能須受特許協議規管及閣下必須遵守其中所載條款及條件。閣下是您違反任何該等條款或條件的唯一責任承擔人。Global Speed Link概不承擔因下載或以其他方式使用該軟件而產生的任何責任。</p>
                        </li>

                        <li>
                            <h5>5. 風險披露</h5>

                            <p>5.1	於網站上可能不時供有風險披露聲明或資料(「風險披露」)。若風險披露張貼在網站之任何部份後或當網站上供有風險披露時，閣下進入或使用或繼續進入或使用網站之任何部份；即閣下將被視為已閱讀、明白及接受風險披露所述之條款及風險。</p>
                        </li>

                        <li>
                            <h5>6. 私隱</h5>
                            <p>6.1	閣下同意關於個人資料(私隱)條例之操作聲明所載的條款。</p>
                        </li>

                        <li>
                            <h5>7. 彌償</h5>
                            <p>閣下應於被要求時彌償Global Speed Link因或關於閣下進入及／或使用網站（或其等任何部份）及／或資訊（或其任何部份）及／或Global Speed Link依賴及／或作為行動依據看待來自或據稱來自閣下的任何資料、數據、訊息或通訊或閣下違反本服務條款的任何條文，而導致Global Speed Link直接或間接合理地遭受或產生的所有責任、申索、費用、開支及損害（不論屬任何性質）並確保Global Speed Link免受損失。</p>
                        </li>

                        <li>
                            <h5>8. 概則</h5>
                            <p>8.1	Global Speed Link可隨時及不時在無需發出通知的情況下行使絕對酌情權以對本服務條款作出任何修訂，及本服務條款的修訂版將於其在網站上張貼後隨即生效。</p>
                            <p>8.2	本服務條款的每條條文均可與其他條文分割及區分。如本服務條款中任何條文於任何時候在任何司法管轄區乃屬或成為不合法、無效或不可強制執行，則本服務條款的其餘條文在該司法管轄區的合法性、有效性及可強制執行性，或該條文或本服務條款的其餘條文在其他司法管轄區的合法性、有效性及可強制執行性，將不會因而受到影響或損害。</p>
                            <p>8.3	本服務條款可能會被翻譯為其他語言。如翻譯版本與英文版本有任何歧義或衝突，概以英文版為準。</p>
                            <p>8.4	本服務條款在所有方面均受香港法律規管及按之詮釋。</p>
                        </li>

                    </ul>
                </div>


            </div>
        </div>
    </div>
</section>


<include file="Public:indexfooter"/>