<include file="Public:head"/>
<include file="Public:nav"/>

<section id="content" class="modal-open">
	<section class="hbox stretch">
		<section class="vbox">
			<section class="scrollable padder">
				<div class="rela-box white">
					<div class="rela-title">修改密码</div>
					<form class="form-light form-horizontal ajaxForm" id="runchangepwd"  action="{:U('Userinfo/runchangepwd')}" method="post">
						<div class="rela-content">
							<div class="panel-body">
								<div class="pen-box">
									<label class="fl_left" for="input-id-1" style="margin-top: 5px">輸入舊密碼</label>
									<input name="old_password" type="password" class="form-control input-pass">
									<div class="clearboth"></div>
								</div>
							</div>
							<div class="panel-body">
								<div class="pen-box">
									<label class="fl_left"  style="margin-top: 5px" for="input-id-1">輸入新密碼</label>
									<input name="password" type="password" class="input-pass form-control">
								</div>
							</div>
							<div class="panel-body">
								<div class="pen-box1">
									<label class="fl_left" style="margin-top: 5px" for="input-id-1">再次輸入新密碼</label>
									<input name="repassword" type="password" class="form-control input-pass">
								</div>
							</div>
							<div class="sub-box1">
								<input type="submit" class="sub-chong" value="提交">
							</div>
						</div>

					</form>

				</div>

			</section>

		</section>
	</section>
</section>

<include file="Public:footer"/>