<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="__PUBLIC__/pay/common/css/global.css">
</head>
<body>
<div class="col-md-12">
    <div class="text-warning">中国工商银行-限额说明（仅供参考）</div>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th class="active">需要满足的条件</th>
            <th class="active">备注</th>
            <th class="active">单笔限额(元)</th>
            <th class="active">每日限额(元)</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>柜面注册存量静态密码客户</td>
            <td>借记卡和贷记卡</td>
            <td>300元</td>
            <td>300元</td>
        </tr>
        <tr>
            <td>电子银行口令卡客户(未开通短信认证)</td>
            <td>借记卡和贷记卡</td>
            <td>500元</td>
            <td>1000元</td>
        </tr>
        <tr>
            <td>电子银行口令卡客户(开通短信认证)</td>
            <td>借记卡和贷记卡</td>
            <td>2000元</td>
            <td>5000元</td>
        </tr>
        <tr>
            <td>网银互联签约客户</td>
            <td>借记卡和贷记卡</td>
            <td>5000元</td>
            <td>5000元</td>
        </tr>
        <tr>
            <td>电子密码器</td>
            <td>借记卡和贷记卡</td>
            <td>20万元</td>
            <td>100万元</td>
        </tr>
        <tr>
            <td>一代U盾客户(未开通短信认证)</td>
            <td>借记卡和贷记卡</td>
            <td>50万元</td>
            <td>100万元</td>
        </tr>
        <tr>
            <td>一代U盾客户(开通短信认证)、二代U盾客户</td>
            <td>借记卡和贷记卡</td>
            <td>100万元</td>
            <td>100万元</td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>
<script src="__PUBLIC__/pay/common/js/jquery-1.11.3.min.js"></script>

