<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="__PUBLIC__/pay/common/css/global.css">
    <title>Document</title>
</head>
<body>
<div class="col-md-12">
    <h5 class="text-warning">华夏银行-限额说明（仅供参考）</h5>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th class="active">需要满足的条件</th>
            <th class="active">备注</th>
            <th class="active">单笔限额(元)</th>
            <th class="active">每日限额(元)</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>非签约客户（密码验证）</td>
            <td>借记卡</td>
            <td>300元</td>
            <td>1000元</td>
        </tr>
        <tr>
            <td>证书/U-key</td>
            <td>借记卡</td>
            <td>5000元</td>
            <td>2万元</td>
        </tr>
        <tr>
            <td>手机动态验证</td>
            <td>借记卡</td>
            <td>500元</td>
            <td>2000元</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>