<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="__PUBLIC__/pay/common/css/global.css">

</head>
<body>
<div class="col-md-12">
    <h5 class="text-warning">中国建设银行-限额说明（仅供参考）</h5>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th class="active">需要满足的条件</th>
            <th class="active">备注</th>
            <th class="active">单笔限额(元)</th>
            <th class="active">每日限额(元)</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>二代网银盾、网银高端版、USB Key+短信动态口令、USB Key+动态口令卡、USB Key+短信确认、USB Key</td>
            <td>签约的借记卡&amp;贷记卡 </td>
            <td>50万元</td>
            <td>50万元</td>
        </tr>
        <tr>
            <td>动态口令卡（刮刮卡）、短信动态口令、文件证书+刮刮卡</td>
            <td>签约的借记卡&amp;贷记卡</td>
            <td>5000元</td>
            <td>5000元</td>
        </tr>
        </tbody>
    </table>

</div>
</body>
</html>