<include file="Public:head"/>
<include file="Public:nav"/>


<section id="content" class="modal-open">
    <section class="hbox stretch">
        <section class="vbox">

            <section class="scrollable padder remittance-form">
                <div class="m-b-md">
                    <h3 class="m-b-none">出金紀錄</h3>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <form name="admin_list_sea" class="form-search form-horizontal" method="post" action="{:U('turnFoOrderPage')}">
                        <section class="panel panel-default">
                            <div class="table-responsive evenodd tablethinred" style="overflow-x: auto;">
                                <table class="table table-striped b-t b-light tablesorter remittance-record">
                                    <thead>
                                    <tr class="panel-heading">
                                        <th class="text-center">訂單號碼</th>
                                        <th class="text-center">日期</th>
                                        <th class="text-center">訂單狀態</th>
                                        <th width="100" class="text-center"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td class="text-center">
                                            <input name="key" type="text" class="form-control input-sm inline v-middle clean_data"
                                                   style="min-width:60px" value="{$keyy}">
                                        </td>
                                        <td class="text-center" style="white-space: nowrap;">
                                            <input name="begin_time" class="input-sm input-s-xssm datepicker-input inline form-control clean_data"
                                                   size="16" type="text" value="{$begin_time}"
                                                   data-date-format="yyyy-mm-dd">
                                            -
                                            <input name="end_time" class="input-sm input-s-xssm datepicker-input inline form-control clean_data"
                                                   size="16" type="text" value="{$end_time}"
                                                   data-date-format="yyyy-mm-dd">
                                        </td>

                                        <td class="text-center">
                                            <select name="status" class="input-xs input-s-xsssm form-control inline v-middle selectCus selectCus-xs clean_data"
                                                    style="min-width:80px">
                                                <option value="">---</option>
                                                <option value="1">審核通過</option>
                                                <option value="2">審核失敗</option>
                                                <option value="3">處理中</option>
                                                <option value="4">轉賬成功</option>
                                                <option value="5">轉賬失敗</option>
                                            </select>
                                        </td>
                                        <td class="text-center" width="100" style="white-space: nowrap;">
                                            <button type="submit" id="query_btn" class="btn btn-default btn-danger btn-square inline">
                                                <i class="fa fa-search"></i></button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </section>
                        </form>

                        <div class="padder">
                            <div class="line line-dashed b-b line-lg pull-in m-t-md"></div>
                        </div>

                        <section class="panel panel-default">
                            <header class="panel-heading">
                                交易列表
                            </header>
                            <div class="table-responsive evenodd tabledata" style="overflow:auto">
                                <table class="table table-striped b-t b-light tablesorter">
                                    <thead>
                                    <tr>
                                        <th class="hidden-xs">創建時間|成功時間</th>
                                        <th class="hidden-xs">客戶訂單號碼</th>
                                        <th class="hidden-sm hidden-xs">收款銀行</th>
                                        <th class="hidden-sm hidden-xs ">收款人名</th>
                                        <th class="hidden-sm hidden-xs ">銀行帳號</th>
                                        <th class="hidden-sm hidden-xs ">分行(省市)</th>
                                        <th class="hidden-xs ">出金金額RMB</th>
                                        <th class="hidden-xs ">狀態</th>
                                        <th class="hidden-xs ">備註</th>

                                        <th style="border-right:#CCC solid 1px;">操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <foreach name="payout_list" item="v">
                                        <tr>
                                            <td class="hidden-xs">{$v.begin_time|date="Y-m-d H:i:s",###}<br>
                                                <if condition="empty($v['end_time'])">
                                                    <else />  {$v.end_time|date="Y-m-d H:i:s",###}
                                                </if>
                                            </td>
                                            <td class="hidden-sm hidden-xs">{$v.payout_orderid}</td>
                                            <td class="hidden-sm hidden-xs">{$v.bankname|getBankName}</td>
                                            <td class="hidden-sm hidden-xs">{$v.reaccname}</td>
                                            <td class="hidden-sm hidden-xs">{$v.reaccno}</td>
                                            <td class="hidden-sm hidden-xs">{$v.proname|getRegionName}-{$v.cityname|getRegionName}</td>
                                            <td class="hidden-sm hidden-xs">{$v.transfermoney|number_format=###,2,'.',','}</td>
                                            <td class="hidden-sm hidden-xs">
                                                <switch name="v.status">
                                                    <case value="1"><span class="text-success">审核通过</span></case>
                                                    <case value="2"><span class="text-error">审核失败</span></case>
                                                    <case value="3"><span class="text-ellipsis">处理中</span></case>
                                                    <case value="4"><span class="text-success">转账成功</span></case>
                                                    <case value="5"><span class="text-error">转账失败</span></case>
                                                    <default /><span class="text-ellipsis">待审核</span>
                                                </switch>
                                            </td>
                                            <td class="hidden-sm hidden-xs">{$v.remark}</td>
                                            <td>
                                                <div class="hidden-sm hidden-xs action-buttons">
                                                    <a class="green payoutAudit"  href="{:U('turnFoOrderPage')}" data-id="{$v.payout_id}" title="详情">
                                                        <i class="ace-icon fa fa-pencil bigger-130"></i>
                                                    </a>
                                                </div>
                                                <div class="hidden-md hidden-lg">
                                                    <div class="inline position-relative">
                                                        <button class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown" data-position="auto">
                                                            <i class="ace-icon fa fa-cog icon-only bigger-110"></i>
                                                        </button>
                                                        <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
                                                            <li>
                                                                <a href="{:U('turnFoOrderPage')}" data-id="{$v.payout_id}" class="tooltip-success payoutAudit" data-rel="tooltip" title="" data-original-title="详情">
																	<span class="green">
																		<i class="ace-icon fa fa-pencil bigger-120"></i>
																	</span>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </foreach>
                                    <tr>
                                        <td height="50" colspan="9" align="left">
                                            {$page}
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </section>

                        <div class="col-md-12">
                            <a href="{:U('turnFoOrderPage',array('action'=>'export','begin_time'=>$begin_time,'end_time'=>$end_time,'status'=>$status))}" class="btn btn-s-md btn-danger m-b-md btn-rounded"><i
                                    class="fa fa-file-text-o"></i> 匯出報表</a>
                        </div>


                    </div>


                </div>

            </section>
        </section>
    </section>
</section>


<include file="Public:footer"/>