<include file="Public:indexhead"/>

<div class="page-title-container">
    <div class="page-title">
        <div class="container">
            <h1 class="entry-title">免責聲明</h1>
        </div>
    </div>
</div>

<section id="content">
    <div class="section">
        <div class="container">
            <div class="col-md-offset-1 col-md-10 col-md-offset-1 center">


                <div class="row">
                    <ul class="terms">

                        <li>
                            <h5>1. 釋義</h5>
                            <p>1.1 除文義另有指定外，在本服務條款內，下列詞語具有下列涵義：</p>
                            <p>Global Speed Link Limited 於本服務條款及網站內共同及個別稱為「Global Speed Link」。</p>
                        </li>

                        <li>
                            <h5>2. 免責聲明</h5>
                            <p>2.1 Global Speed Link是平台系統提供者，匯款業務是由Global Speed Link Limited經營。</p>
                            <p>2.2 Global Speed Link所收集的資訊將分享予Global Speed Link Limited，以處理平台所提供的服務。</p>
                            <p>2.3 Global Speed Link Limited完全承擔平台所提供的服務。</p>
                            <p>2.4 儘管資訊本着真誠提供及自Global Speed Link認為可靠的資料來源取得或編纂，Global Speed Link並不聲明或保證（不論是明示或隱含）任何資訊的準確性、有效性、充分性、先後次序、及時性或完整性。</p>
                            <p>2.5 互聯網或其他電子媒介（包括但不限於網站、電子儀器、由第三方電訊服務供應商所提供的服務，如手提電話或其他手提交易儀器或互動發聲回覆系統裝置）本質上乃是不可靠的通訊媒體，而該不可靠性乃非Global Speed Link所能控制。該不可靠性可能產生不同的後果，例如：其可能引致任何通訊或資訊傳遞故障或延誤，或影響網站可提供的任何功能或任何通訊或資訊的及時性、先後次序、準確性、有效性、充分性或完整性，或造成任何通訊或資訊的丟失或保密性的喪失。上述並未盡列有關不可靠性的所有後果。Global Speed Link並不承擔因該不可靠性或互聯網或其他電子媒體的公開性質或非Global Speed Link所能控制的任何原由（包括但不限於通訊設施的中斷或故障）而直接或間接產生或相關的任何性質的損失、損害、費用、開支、申索或責任，即使任何有關的通知已向Global Speed Link發出。</p>
                            <p>2.6 網站內提供的資訊並不構成Global Speed Link的任何建議或推薦意見，以及閣下或任何其他人士不應加以依賴。</p>
                            <p>2.7 網站內提供的所有報價並不構成Global Speed Link的任何承諾。</p>
                            <p>2.8 儘管資訊可能另有所指，Global Speed Link並不作出明確或隱含的保證或聲明（包括但不限於有關可商售性、對某特定用途的適用性、安全性、不侵犯第三方權利或免於電腦病毒或其他有害成分的保證或聲明），以及不承擔與任何資訊或任何網站部份或網站功能或對任何資訊或任何網站部份或網站功能的任何依賴、進入或使用或無法進入或使用而有關的或因而產生的任何性質的責任，即使任何相關的通知已向Global Speed Link發出。</p>
                            <p>2.9 閣下可訂購第三方服務供應商所提供的服務。閣下到訪及使用該等服務須受閣下與第三方服務供應商之間的協議所規管及閣下必須遵守該協議。儘管該等服務於網站上或透過網站提供或訂購，Global Speed Link並不核准或認可該等服務，或由該等服務或透過該等服務提供的任何資訊、數據、資料、訊息或內容，或有關該等服務的任何事宜，或有關由該等服務或透過該等服務提供的任何資訊、數據、資料、訊息或內容的任何事宜，包括但不限於任何所需的軟件。Global Speed Link現在及將來均不會成為閣下與第三方服務供應商之間的任何協議或其他安排的一方。因此，Global Speed Link概不承擔有關該等服務或由該等服務或透過該等服務提供的任何資訊、數據、資料、訊息或內容或因而產生的責任，即使任何有關的通知已向Global Speed Link發出。此外，Global Speed Link概不承擔有關任何第三方（不論該第三方為第三方服務供應商與否）的任何作為或不作為或因而產生的責任，即使任何有關的通知已向Global Speed Link發出。</p>
                            <p>2.10 使用網站/資訊任何部份所需的任何軟件可能受特許協議所規管及閣下須遵守其條款及條件。閣下是您違反任何該等條款或條件的唯一責任承擔人。Global Speed Link概不承擔因閣下下載或以任何其他方式使用該軟件而產生的任何責任。</p>
                            <p>2.11 Global Speed Link可隨時及不時行使絕對酌情權，在無須通知亦無須給予任何理由的情況下，對資訊及／或網站（或其任何部份）作出變動及／或拒絕　閣下進入及／或使用網站（或網站的任何部份）。Global Speed Link概不承擔與任何該變動或拒絕有關或因而產生的責任，即使任何有關的通知已向Global Speed Link發出。</p>
                        </li>


                    </ul>
                </div>


            </div>
        </div>
    </div>
</section>


<include file="Public:indexfooter"/>