<extend name="Public/base" />
<block name="main-content">
    <div class="page-content">
        <div class="liangzipao">
            <foreach name="menus_child" item="v" key="k">
                <if condition="$v['id'] eq $id_curr">
                    <div class="mega" style="background-color: rgba(255,255,255,0.1)"><a href="{:U(''.$v['name'].'')}" class="freedom" >{$v['title']}</a></div>
                    <else/>
                    <div class="mega"><a href="{:U(''.$v['name'].'')}" class="freedom">{$v['title']}</a></div>
                </if>
            </foreach>
            <div class="clear"></div>
        </div>
        <div class="row" style="margin-top: 20px">
            <div class="col-xs-12">
                <div>
                    <table id="dynamic-table" class="table table-striped table-bordered table-hover white">
                        <thead>
                        <tr>
                            <th>代理商名称</th>
                            <th>客户名称</th>
                            <th>行业</th>
                            <th>预计金额</th>
                            <th>整合类型</th>
                            <th>网银</th>
                            <th>微信</th>
                            <th>支付宝</th>
                            <th style="border-right:#CCC solid 1px;">操作</th>
                        </tr>
                        </thead>

                        <tbody>

                        <foreach name="aglist_list" item="v">
                            <tr>
                                <td> {$v.agent_list_memberid|getAgentName}</td>
                                <td>
                                    {$v.agent_sub_name}
                                </td>
                                <td>{$v.agent_sub_industry}</td>
                                <td>{$v.agent_sub_expect} 元</td>
                                <td>
                                    <switch name="v.agent_sub_pay_type">
                                        <case value="1">API</case>
                                        <case value="2">Payment Page</case>
                                    </switch>
                                </td>
                                <td>
                                    代理：{$v['netgate']['agent']|number_format=###,2,'.',','}%<br />
                                    介紹人A：{$v['netgate']['agent1']|number_format=###,2,'.',','}%<br />
                                    介紹人B：{$v['netgate']['agent2']|number_format=###,2,'.',','}%<br />
                                    客戶：{$v['netgate']['client']|number_format=###,2,'.',','}%<br />
                                </td>
                                <td>
                                    代理：{$v['weixin']['agent']|number_format=###,2,'.',','}%<br />
                                    介紹人A：{$v['weixin']['agent1']|number_format=###,2,'.',','}%<br />
                                    介紹人B：{$v['weixin']['agent2']|number_format=###,2,'.',','}%<br />
                                    客戶：{$v['weixin']['client']|number_format=###,2,'.',','}%<br />
                                </td>
                                <td>
                                    代理：{$v['alipay']['agent']|number_format=###,2,'.',','}%<br />
                                    介紹人A：{$v['alipay']['agent1']|number_format=###,2,'.',','}%<br />
                                    介紹人B：{$v['alipay']['agent2']|number_format=###,2,'.',','}%<br />
                                    客戶：{$v['alipay']['client']|number_format=###,2,'.',','}%<br />
                                </td>
                                <td>
                                    <div class="hidden-sm hidden-xs action-buttons">

                                            <if condition="$v['agent_sub_status'] eq 1 ">
                                                <div>
                                                    <button class="btn btn-minier btn-yellow">已处理</button>
                                                </div>
                                                <else/>
                                                <a class="red payin-state-btn" href="{:U('select_state')}"
                                                   data-id="{$v.agent_sub_id}" title="未处理">
                                                    <div id="zt{$v.agent_sub_id}">
                                                        <button class="btn btn-minier btn-danger">未处理</button>
                                                    </div>
                                                </a>
                                            </if>

                                    </div>

                                </td>
                            </tr>
                        </foreach>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div><!-- /.page-content -->
</block>
