<extend name="Public/base" />
<block name="main-content">
    <div class="page-content">



        <div class="row maintop">
            <div class="fl_left">
                <form name="admin_list_sea" class="form-search" method="post" action="{:U('overseas_rate_list')}">
                    <div class="hidden-xs btn-sespan fl_left">
                        <div class="input-group">
                            <input type="text" name="val" id="val" class="back_wh1" value="{$testval}" style="width: 100%;color:#fff" placeholder="输入需查询支付公司ID" />

                        </div>
                    </div>
                    <button type="submit" class="select_search white fl_left" style="margin-left: 20px;display: inline-block;font-size: 15px">
                        搜索
                    </button>
                </form>
            </div>
            <div class="fl_left">
                <a href="{:U('mid_list')}">
                    <button type="submit" class="select_search white" style="margin-left: 20px;font-size: 15px">
                        显示全部
                    </button>
                </a>
            </div>
            <div class="fl_left">
                <a href="{:U('overseas_rate_add')}">
                    <button type="submit" class="select_search white" style="margin-left: 20px;width: 111%;font-size: 15px">
                        添加汇率牌价
                    </button>
                </a>
            </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div>
                    <form id="leftnav" name="leftnav" method="post" action="" >
                        <table class="urllist white" id="dynamic-table">
                            <thead>
                            <tr>
                                <th class="hidden-sm hidden-xs"><div class='border_margin'>ID</div></th>
                                <th class="hidden-sm hidden-xs"><div class='border_margin'>客户名称</div></th>
                                <th class="hidden-sm hidden-xs"><div class='border_margin'>货币名称</div></th>
                                <th class="hidden-sm hidden-xs"><div class='border_margin'>卖出价</div></th>
                                <th class="hidden-sm hidden-xs"><div class='border_margin'>买入价</div></th>
                                <th class="hidden-sm hidden-xs"><div class='border_margin'>创建时间</div></th>
                                <th class="hidden-sm hidden-xs"><div class='border_margin'>更新时间</div></th>
                                <th class="hidden-sm hidden-xs"><div class='border_margin'>状态</div></th>
                                <th class="hidden-sm hidden-xs"><div class='border_margin'>备注</div></th>
                                <th class="hidden-sm"><div class="border_margin">操作</div></th>
                            </tr>
                            </thead>

                            <tbody>

                            <foreach name="overseas_rate_list" item="v">
                                <tr>
                                    <td height="28" class="hidden-sm"><div class="border_margin">{$v.curoffer_id}</div></td>
                                    <td height="28" class="hidden-sm"><div class="border_margin">{$v.user_id|getUserinfoName}</div></td>
                                    <td height="28" class="hidden-sm"><div class="border_margin">{$v.currency_code}</div></td>
                                    <td height="28" class="hidden-sm"><div class="border_margin">{$v.cursell}</div></td>
                                    <td class="hidden-sm hidden-xs"><div class='border_margin'>{$v.curbuy}</div></td>
                                    <td class="hidden-sm hidden-xs blue"><div class="border_margin">{$v.created_at</div>}</td>
                                    <td class="hidden-sm hidden-xs red2"><div class="border_margin">{$v.update_at|date="Y-m-d H:i:s",###}</div></td>
                                    <td class="hidden-sm hidden-xs">
                                        <div class='border_margin'>
                                        <if condition='$v.status eq 1'>
                                            <a class="red open-btn" href="{:U('overseas_rate_status')}" data-id="{$v.curoffer_id}" title="已开启">
                                                <div id="zt{$v.curoffer_id}"><button class="btn btn-minier btn-yellow">开启</button></div>
                                            </a>
                                            <else/>
                                            <a class="red open-btn" href="{:U('overseas_rate_status')}" data-id="{$v.curoffer_id}" title="已禁用">
                                                <div id="zt{$v.curoffer_id}"><button class="btn btn-minier btn-danger">禁用</button></div>
                                            </a>
                                        </if>
                                    </div>
                                    </td>
                                    <td class="hidden-sm hidden-xs"><div class='border_margin'>{$v.remark}</div></td>
                                    <td class="hidden-sm">
                                        <div class="hidden-sm hidden-xs action-buttons border_margin">
                                            <a class="green" href="{:U('overseas_rate_edit',array('curoffer_id'=>$v['curoffer_id']))}" title="修改">
                                                <i class="ace-icon fa fa-pencil bigger-130"></i>																</a>

                                            <a class="red confirm-rst-url-btn" data-info="你确定要删除吗？" href="{:U('overseas_rate_del',array('curoffer_id'=>$v['curoffer_id']))}" title="删除">
                                                <i class="ace-icon fa fa-trash-o bigger-130"></i>
                                            </a>

                                        </div>

                                    </td>
                                </tr>
                            </foreach>
                            <tr>
                                <td height="50" colspan="10" align="left">{$page}</td>
                            </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
        </div>

    </div><!-- /.page-content -->
</block>
