<extend name="Public/base"/>
<block name="main-content">
    <div class="page-content">

        <div class="row white">
            <div class="col-xs-12">
                <form class="form-horizontal ajaxForm2" name="payout_rate_add" method="post"
                      action="{:U('overseas_rate_add')}">


                    <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 商户名称： </label>
                        <div class="col-sm-10">
                            <select name="user_id" class="col-sm-4 selector" >
                                <option value="">请选择商户</option>
                                <foreach name="userList" item="v">
                                    <option value="{$v.user_id}">{$v.member_name}</option>
                                </foreach>
                            </select>
                        </div>
                    </div>
                    <div class="space-4"></div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 货币编号： </label>
                        <div class="col-sm-10">
                            <select name="currency_code" class="col-sm-4 selector" required>
                                <option value="">请选择货币编号</option>
                                <option value="HKD">港币</option>
                                <option value="USD">美元</option>
                            </select>
                        </div>
                    </div>
                    <div class="space-4"></div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 卖出价： </label>
                        <div class="col-sm-10">
                            <input type="text" name="cursell" id="cursell" placeholder="卖出价"
                                   class="col-xs-10 col-sm-5" required/>
                            <span class="lbl col-xs-12 col-sm-7"><span class="red">*</span>必填</span>
                        </div>
                    </div>
                    <div class="space-4"></div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 买入价： </label>
                        <div class="col-sm-10">
                            <input type="text" name="curbuy" id="curbuy" placeholder="买入价"
                                   class="col-xs-10 col-sm-5" required/>
                            <span class="lbl col-xs-12 col-sm-7"><span class="red">*</span>必填</span>
                        </div>
                    </div>
                    <div class="space-4"></div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 备注： </label>
                        <div class="col-sm-10">
                            <input type="text" name="remark" id="remark" placeholder="备注" class="col-xs-10 col-sm-5"/>
                        </div>
                    </div>
                    <div class="space-4"></div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 状态： </label>
                        <div class="col-sm-10" style="padding-top:5px;">
                            <input name="status" id="status" value="1"
                                   class="ace ace-switch ace-switch-4 btn-flat" type="checkbox"/>
                            <span class="lbl">&nbsp;&nbsp;默认隐藏</span>
                        </div>
                    </div>
                    <div class="space-4"></div>


                    <div class="clearfix form-actions">
                        <div class="col-md-offset-3 col-md-9">
                            <button class="btn btn-info" type="submit">
                                <i class="ace-icon fa fa-check bigger-110"></i>
                                保存
                            </button>

                            &nbsp; &nbsp; &nbsp;
                            <button class="btn" type="reset">
                                <i class="ace-icon fa fa-undo bigger-110"></i>
                                重置
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div><!-- /.page-content -->
</block>