<extend name="Public/base" />
<block name="main-content">
    <div class="page-content">

        <div class="row white">
            <div class="col-xs-12">
                <form class="form-horizontal ajaxForm2" name="payout_rate_edit" method="post" action="{:U('payout_rate_runedit')}">
                    <input type="hidden" name="payout_rate_id" id="payout_rate_id" value="{$payout_rate_edit.payout_rate_id}" />
                    <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 所属支付公司： </label>
                        <div class="col-sm-10">
                            <select name="p_id" class="col-sm-4 selector" required>
                                <option value="">请选择所属支付公司</option>
                                <foreach name="payment_name" item="v">
                                    <option value="{$v.api_id}" <if condition="$payout_rate_edit['p_id'] eq $v['api_id']">selected</if>>{$v.api_china_name}</option>
                                </foreach>
                            </select>
                        </div>
                    </div>
                    <div class="space-4"></div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 规则名称：  </label>
                        <div class="col-sm-10">
                            <input type="text" name="payout_rate_title" id="payout_rate_title" value="{$payout_rate_edit['payout_rate_title']}" class="col-xs-10 col-sm-5" required/>
                            <span class="lbl col-xs-12 col-sm-7"><span class="red">*</span>必填</span>
                        </div>
                    </div>
                    <div class="space-4"></div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 出金手续费：  </label>
                        <div class="col-sm-10">
                            <input type="text" name="outrate" id="outrate" value="{$payout_rate_edit['outrate']}" class="col-xs-10 col-sm-5" required/>
                            <span class="lbl col-xs-12 col-sm-7">元<span class="red">*</span>必填</span>
                        </div>
                    </div>
                    <div class="space-4"></div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 出金成本：  </label>
                        <div class="col-sm-10">
                            <input type="text" name="outprice" id="outprice"  value="{$payout_rate_edit['outprice']}" class="col-xs-10 col-sm-5" />
                            <span class="lbl col-xs-12 col-sm-7">元</span>
                        </div>
                    </div>
                    <div class="space-4"></div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 单笔最小出金：  </label>
                        <div class="col-sm-10">
                            <input type="text" name="outmin" id="outmin"  value="{$payout_rate_edit['outmin']}" class="col-xs-10 col-sm-5" />
                            <span class="lbl col-xs-12 col-sm-7">元</span>
                        </div>
                    </div>
                    <div class="space-4"></div>


                    <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 单笔最大出金：  </label>
                        <div class="col-sm-10">
                            <input type="text" name="outmax" id="outmax"  value="{$payout_rate_edit['outmax']}" class="col-xs-10 col-sm-5" />
                            <span class="lbl col-xs-12 col-sm-7">元</span>
                        </div>
                    </div>
                    <div class="space-4"></div>


                    <div class="clearfix form-actions">
                        <div class="col-md-offset-3 col-md-9">
                            <button class="btn btn-info" type="submit">
                                <i class="ace-icon fa fa-check bigger-110"></i>
                                保存
                            </button>

                            &nbsp; &nbsp; &nbsp;
                            <button class="btn" type="reset">
                                <i class="ace-icon fa fa-undo bigger-110"></i>
                                重置
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div><!-- /.page-content -->
</block>