<extend name="Public/base" />
<block name="main-content">
    <div class="page-content">



        <div class="row maintop">
            <div class="col-xs-4 col-sm-2">
                <a href="{:U('payout_rate_add')}">
                    <button class="btn btn-sm btn-danger">
                        <i class="ace-icon fa fa-bolt bigger-110"></i>
                        添加出金费率
                    </button>
                </a>
            </div>
            <div class="col-xs-10 col-sm-5">
                <form name="payout_rate_list" class="form-search" method="post" action="{:U('payout_rate_list')}">
                    <div class="input-group">
										<span class="input-group-addon">
											<i class="ace-icon fa fa-check"></i>
										</span>
                        <input type="text" name="val" id="val" class="form-control" value="{$testval}" placeholder="输入需查询支付公司ID" />
										<span class="input-group-btn">
											<button type="submit" class="btn btn-purple btn-sm">
                                                <span class="ace-icon fa fa-search icon-on-right bigger-110"></span>
                                                搜索
                                            </button>
										</span>
                    </div>
                </form>
            </div>
            <div class="col-xs-4 col-sm-5">
                <div class="input-group-btn">
                    <a href="{:U('payout_rate_list')}">
                        <button type="button" class="btn btn-sm  btn-purple">
                            <span class="ace-icon fa fa-globe icon-on-right bigger-110"></span>
                            显示全部
                        </button>
                    </a>
                </div>
            </div>
        </div>



        <div class="row">
            <div class="col-xs-12">
                <div>
                    <form id="leftnav" name="leftnav" method="post" action="" >
                        <table class="table table-striped table-bordered table-hover" id="dynamic-table">
                            <thead>
                            <tr>
                                <th class="hidden-xs">ID</th>
                                <th class="hidden-xs">支付公司ID</th>
                                <!--<th class="hidden-xs">MID名称</th>-->
                                <th class="hidden-sm hidden-xs">出金手续费</th>
                                <th class="hidden-sm hidden-xs">出金成本</th>
                                <th class="hidden-sm hidden-xs blue">单笔最少出金</th>
                                <th class="hidden-sm hidden-xs red2">单笔最大出金</th>
                                <th class="hidden-sm hidden-xs">创建时间</th>
                                <th style="border-right:#CCC solid 1px;">操作</th>
                            </tr>
                            </thead>

                            <tbody>

                            <foreach name="payout_rate_list" item="v">
                                <tr>
                                    <td height="28" >{$v.id}</td>
                                    <td height="28" >{$v.api_china_name}</td>
                                    <!--<td height="28" >{$v.title}</td>-->
                                    <td class="hidden-sm hidden-xs">{$v['outrate']}</td>
                                    <td class="hidden-sm hidden-xs">{$v['outprice']}</td>
                                    <td class="hidden-sm hidden-xs blue">{$v['outmin']}</td>
                                    <td class="hidden-sm hidden-xs red2">{$v['outmax']}</td>
                                    <td class="hidden-sm hidden-xs">{$v.time|date="Y-m-d H:i:s",###}</td>
                                    <td>
                                        <div class="hidden-sm hidden-xs action-buttons">
                                            <a class="green" href="{:U('payout_rate_edit',array('id'=>$v['id']))}" title="修改">
                                                <i class="ace-icon fa fa-pencil bigger-130"></i>																</a>

                                            <a class="red confirm-rst-url-btn" data-info="你确定要删除吗？" href="{:U('payout_rate_del',array('id'=>$v['id']))}" title="删除">
                                                <i class="ace-icon fa fa-trash-o bigger-130"></i>
                                            </a>

                                        </div>

                                    </td>
                                </tr>
                            </foreach>
                            <tr>
                                <td height="50" colspan="8" align="left">{$page}</td>
                            </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
        </div>

    </div><!-- /.page-content -->
</block>
