.ui-menu {
	list-style: none;
	padding: 2px;
	margin: 0;
	display: block;
	outline: none
}
.ui-menu .ui-menu {
	margin-top: -3px;
	position: absolute
}

.header-slide .hs-inner .ui-menu-item a {
	text-transform: none!important;
	letter-spacing: .7px!important
}
.ui-menu .ui-menu-divider {
	margin: 5px -2px 5px -2px;
	height: 0;
	font-size: 0;
	line-height: 0;
	border-width: 1px 0 0 0
}
.ui-menu .ui-menu-item a {
	text-decoration: none;
	display: block;
	padding: 2px .4em;
	line-height: 1.5;
	min-height: 0;
	font-weight: normal
}
.ui-menu .ui-menu-item a.ui-state-focus, .ui-menu .ui-menu-item a.ui-state-active {
	font-weight: normal;
	cursor: pointer
}
.ui-menu .ui-state-disabled {
	font-weight: normal;
	margin: .4em 0 .2em;
	line-height: 1.5
}
.ui-menu .ui-state-disabled a {
	cursor: default
}
.ui-menu-icons {
	position: relative
}
.ui-menu-icons .ui-menu-item a {
	position: relative;
	padding-left: 2em
}
.ui-menu .ui-icon {
	position: absolute;
	top: .2em;
	left: .2em
}
.ui-menu .ui-menu-icon {
	position: static;
	float: right
}


menu, ol, ul {
	padding: 0 0 0 40px
}
nav ul, nav ol {
	list-style: none;
	list-style-image: none
}
img {
	border: 0;
	-ms-interpolation-mode: bicubic
}


img {
	vertical-align: middle
}

.mobile {
	display: none
}
.middle-show {
	display: none
}

.clearfix {
	zoom: 1
}
.clearfix:before, .clearfix:after {
	content: "\20";
	display: block;
	height: 0;
	overflow: hidden
}
.clearfix:after {
	clear: both
}
img.imgScale {
	width: 100%
}
@media only screen and (max-width:1040px) {
.mobile, div.mobile {
	display: block
}
.desktop {
	display: none
}
}
@media only screen and (max-width:640px) {
img.desktop {
	display: none
}
img.mobile {
	display: block
}
.matchHeight, .matchTitleHeight {
	height: auto!important
}
}
@font-face {
	font-family: 'icomoon-ultimate';
	src: url("../fonts/icomoon-ultimate.eot");
	src: url("../fonts/icomoon-ultimate-.eot#iefix") format("embedded-opentype"), url("../fonts/icomoon-ultimate.woff") format("woff"), url("../fonts/icomoon-ultimate.ttf") format("truetype"), url("../fonts/icomoon-ultimate.svg#icomoon-ultimate") format("svg");
	font-weight: normal;
	font-style: normal
}
[data-icon]:before {
	font-family: 'icomoon-ultimate';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	-webkit-font-smoothing: antialiased
}
[data-icon-after]:after {
	font-family: 'icomoon-ultimate';
	content: attr(data-icon-after);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
	float: right;
	padding-top: 4px;
	color: #b1b1b4
}
[data-icon-r]:after {
	font-family: 'icomoon-ultimate';
	content: attr(data-icon-r);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	position: absolute;
	right: 15px
}
[data-icon-d]:after {
	font-family: 'icomoon-ultimate';
	content: attr(data-icon-d);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	margin-top: 15px
}




@-moz-keyframes slide {
0% {
opacity:.1
}
100% {
opacity:1
}
}
@-webkit-keyframes slide {
0% {
opacity:.1
}
100% {
opacity:1
}
}
@-ms-keyframes slide {
0% {
opacity:.1
}
100% {
opacity:1
}
}
@keyframes slide {
0% {
left:-999em
}
100% {
left:0
}
}
@-moz-keyframes slideDown {
0%, 100% {
-moz-transform:translateY(-15px)
}
10%, 100% {
-moz-transform:translateY(0)
}
}
@-webkit-keyframes slideDown {
0%, 100% {
-webkit-transform:translateY(-15px)
}
10%, 100% {
-webkit-transform:translateY(0)
}
}
@-ms-keyframes slideDown {
0%, 100% {
-ms-transform:translateY(-15px)
}
10%, 100% {
-ms-transform:translateY(0)
}
}
@keyframes slideDown {
0%, 100% {
transform:translateY(-15px)
}
10%, 100% {
transform:translateY(0)
}
}
@-moz-keyframes slideLeft {
0%, 100% {
-moz-transform:translateX(-100%)
}
50%, 100% {
-moz-transform:translateX(0)
}
}
@-webkit-keyframes slideLeft {
0%, 100% {
-webkit-transform:translateX(-100%)
}
50%, 100% {
-webkit-transform:translateX(0)
}
}
@-ms-keyframes slideLeft {
0%, 100% {
-ms-transform:translateX(-100%)
}
50%, 100% {
-ms-transform:translateX(0)
}
}
@keyframes slideLeft {
0%, 100% {
transform:translateX(-100%)
}
50%, 100% {
transform:translateX(0)
}
}
@-moz-keyframes slideLeftReturn {
0%, 100% {
-moz-transform:translateX(0)
}
10%, 100% {
-moz-transform:translateX(-100%)
}
}
@-webkit-keyframes slideLeftReturn {
0%, 100% {
-webkit-transform:translateX(0)
}
10%, 100% {
-webkit-transform:translateX(-100%)
}
}
@-ms-keyframes slideLeftReturn {
0%, 100% {
-ms-transform:translateX(0)
}
10%, 100% {
-ms-transform:translateX(-100%)
}
}
@keyframes slideLeftReturn {
0%, 100% {
transform:translateX(0)
}
10%, 100% {
transform:translateX(-100%)
}
}

.wrapper-outer {
	overflow: hidden
}
.wrapper {
	min-width: 265px;
	margin: 0 10px;
	max-width: 100%;
	margin: 0
}
.left, .right {
	width: 50%;
	float: left
}
.left .img-holder img {
	max-width: 100%
}
.header-wrapper { height:70px}
.header-container {
	height: 70px
}

@media only screen and (min-width:771px) and (max-width:945px) {
.header-container {
	height: 160px
}
}
@media only screen and (max-width:1040px) {
.header-container {
	height: 90px
}
}
.header-container, .main-container, .footer-container {
	min-width: 320px
}
.header-container, .main aside {
	background: #fff
}
.main {
	padding: 0
}
.main article.eighteen-col header h1[data-icon]:before, .main article.eighteen-col header h2.module-header[data-icon]:before {
	font-size: 18px;
	margin: 0 20px 0 0
}
.main aside {
	color: #787874;
	padding: 0 5% 10px
}


.header-container .eighteen-col, .main-container .eighteen-col {
	max-width: 1060px;
	margin: 20px auto 20px;
	display: block;
	float: inherit;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	zoom: 1
}
.header-container .eighteen-col:before, .header-container .eighteen-col:after, .main-container .eighteen-col:before, .main-container .eighteen-col:after {
	content: "\20";
	display: block;
	height: 0;
	overflow: hidden
}
.header-container .eighteen-col:after, .main-container .eighteen-col:after {
	clear: both
}
.header-container, .main-container {
	margin: 0 auto;
	
}
.lt-ie9 .header-container, .lt-ie9 .main-container {
	min-width: 960px
}
.header-container header {
	max-width: 1060px;
	margin: 0 auto;
	display: block
}



}

.header-container {
	position: fixed;
	width: 100%;
	z-index: 111;
	background-color: rgba(255,255,255,.95);
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}
@media(max-width:1040px) {
.header-container {
	height: 70px;
	position: static
}
}
@media(max-width:1024px) {
.header-container.is-ios7 {
	position: static
}
}
@media only screen and (max-width:1040px) {
.header-container {
	position: static;
	overflow: hidden
}
}

.header-container header {
	height: 70px;
	position: relative;
	z-index: 110;
	
}

@media only screen and (max-width:640px) {
.header-container header {
	margin-top: 0
}
}
@media only screen and (max-width:1040px) {
.header-container header {
	-moz-box-shadow: #eee 0 -3px 5px 5px;
	-webkit-box-shadow: #eee 0 -3px 5px 5px;
	box-shadow: #eee 0 -3px 5px 5px
}
}
.header-container header span {
	display: inline-block
}
@media only screen and (min-width:1040px) {
.header-container header span {
	text-align: right
}
}
.mobile-menu {
	display: none
}
.header-container header nav>ul {
	overflow: hidden
}
.header-container header nav ul li {
	display: block
}
.header-container .title {
	color: #787874;
	position: absolute;
	left: 0;
	top: 0;
	width: 196px;
	margin: 10px 0
}
@media only screen and (max-width:1040px) {
.header-container .title {
	margin: 12px 0 0 15px;
	color: #fff;
	font-weight: normal;
	width: auto
}
}
@media only screen and (max-width:380px) {
.header-container .title {
	margin-top: 13px;
	width: 130px;
	margin-top: 28px
}
}

.ie7 .title {
	padding-top: 20px
}
.confirmation-page h1.title, .confirmation-page h2.module-header.title {
	margin-top: 16px
}

.logo {
	width: 196px;
	height: 57px;
	display: block
}
@media only screen and (max-width:1040px) {
.title span[data-icon-after]:after {
	display: none
}
}

@media only screen and (max-width:1100px) {
.title, .header-container .minimise .title {
	margin: 16px 0 0 10px
}
.header-container .minimise .title {
	margin-top: 6px
}
}
@media only screen and (min-width:1040px) {
.header-container .minimise {
	height: 70px;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	-ms-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out
}
.header-container .minimise .title {
	margin: 18px 0 0;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	-ms-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out
}
}

nav ul {
	margin: 0;
	padding: 0
}
nav a {
	display: block;
	margin-bottom: 0;
	padding: 10px 0;
	float: left;
	text-align: center;
	text-decoration: none;
	color: #e33244;
	border: 1px solid #e8e8e9;
	border-right: none;
	font-weight: normal;
	font-style: normal;
	text-transform: uppercase;
	font-weight: normal;
	letter-spacing: .4px;
	font-size: 14px
}
nav li {
	display: block;
	margin-bottom: 0px;
	padding: 7px 0;
	float: left;
	text-align: center;
	text-decoration: none;
	color: #e33244;
	border: 1px solid #e8e8e9;
	border-right: none;
	font-weight: normal;
	font-style: normal;
	text-transform: uppercase;
	font-weight: normal;
	letter-spacing: .4px;
	font-size: 14px;
	width: 30%
}
nav ul li:last-of-type {
	border-left: none;
	margin-bottom: 0
}
.link-text {
	display: block;
	padding: 0;
	float: left;
	text-align: center;
	text-decoration: none;
	color: #78787a;
	text-transform: uppercase;
	font-weight: normal;
	letter-spacing: .4px;
	font-size: 14px
}
nav li.active a, nav li.active {
	background-color: #e8e8e9;
	color: #e33244;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	font-style: italic;
	font-weight: bold;
	font-style: italic;
	border-radius: 0
}
nav li.active .link-text {
	color: #e33244
}
.header-container header nav ul li a {
	color: #fff;
	border: none;
	width: auto;
	padding: 0;
	float: none
}
.header-container header nav ul li.active:after {
	border-left-color: #e8e8e9;
	border-width: 18px;
	margin-top: 2px;
	margin-left: 0
}
nav a:hover, nav a:visited {
	color: #78787a
}
nav a:hover {
	text-decoration: underline
}
@media only screen and (max-width:640px) {
nav {
	clear: both
}
.header-container header nav ul li.active a {
	width: 50%
}
}
@media only screen and (max-width:1040px) {
.header-container header nav ul {
	border-top: 1px solid #d7d7d7;
	float: none;
	width: auto
}
.header-container header nav ul li a {
	color: #000
}
}

@media only screen and (min-width:381px) and (max-width:640px) {
.header-container header nav ul li:after {
	border-width: 19px
}
.header-container header nav ul li:before {
	border-width: 21px
}
}
@media only screen and (min-width:641px) and (max-width:767px) {
nav {
	width: 60%
}
}
@media only screen and (min-width:400px) and (max-width:640px) {
nav li {
	padding: 10px 0
}
}
@media only screen and (min-width:1040px) {
.header-container header nav ul li a {
	color: #000
}
}
@media only screen and (min-width:1040px) {
.header-container header nav ul, .confirmation-page.header-container header nav ul {
	float: none;
	width: 100%
}
.header-container header, .confirmation-page.header-container header {
	height: 70px
}
}
@media only screen and (max-width:640px) {
nav li.active {
	width: 55%
}
nav li {
	width: 18%;
	padding: 9px 0
}
}
nav.breadcrumb {
	background: rgba(0,0,0,.03);
	float: none;
	width: 100%;
	margin: 0;
	padding: 5px 0;
	z-index: 111
}
@media only screen and (max-width:1040px) {
nav.breadcrumb {
	display: none
}
}
nav.breadcrumb ul {
	overflow: hidden
}
nav.breadcrumb li, nav.breadcrumb a {
	float: left;
	line-height: 1;
	margin: 0;
	color: #666;
	border: 0;
	width: auto;
	text-align: left;
	text-transform: none;
	letter-spacing: normal
}
nav.breadcrumb a, nav.breadcrumb span {
	font-size: 13px;
	padding: 0 5px
}
nav.breadcrumb .home {
	background: url("../images/home-icon.png") no-repeat;
	width: 15px;
	height: 13px
}
nav.main-nav section {
	padding: 0;
	background: #123d69
}
nav.main-nav>ul>li:after {
	width: 1px;
	height: 49px;
	content: "";
	display: block;
	position: absolute;
	right: -7px;
	top: 0
}
@media only screen and (max-width:850px) {
nav.main-nav>ul>li:after {
	background: none
}
}
nav.main-nav ul li a span[data-icon-after]:after {
	margin-left: 8px;
	font-size: 12px;
	padding-top: 0px;
	color: #78787a;
	color: #BBB;
}
@media screen and (max-width:1040px) {
nav.main-nav ul li a span[data-icon-after]:after {
	color: #A8A8A8;
	position: absolute;
	top: 35%;
	right: 15px;
	content: "y"
}
}
nav.main-nav ul span.phone {
	margin-left: 20px;
	padding: 0 0 5px 20px;
	border-left: 1px solid #e8e8e9;
	font-size: 18px;
	margin-top: 17.9px
}
@media screen and (max-width:1040px) {
nav.main-nav ul span.phone {
	display: none
}
}
nav.main-nav ul li a:hover, nav.main-nav ul li a:hover span[data-icon-after]:after {
	text-decoration: none
}
nav.main-nav ul li:last-of-type:after {
	background: none
}
@media screen and (min-width:1040px) {
nav.main-nav ul li.item-2:hover .subnav, nav.main-nav ul li.item-2.touched .subnav, nav.main-nav ul li.item-3:hover .subnav, nav.main-nav ul li.item-3.touched .subnav, nav.main-nav ul li.contact:hover .subnav, nav.main-nav ul li.contact.touched .subnav, nav.main-nav ul li.item-4:hover .subnav, nav.main-nav ul li.item-4.touched .subnav {
	right: -8px;
	left: auto
}
nav.main-nav ul li.item-2:hover .subnav a span[data-icon-after]:after, nav.main-nav ul li.item-2.touched .subnav a span[data-icon-after]:after, nav.main-nav ul li.item-3:hover .subnav a span[data-icon-after]:after, nav.main-nav ul li.item-3.touched .subnav a span[data-icon-after]:after, nav.main-nav ul li.contact:hover .subnav a span[data-icon-after]:after, nav.main-nav ul li.contact.touched .subnav a span[data-icon-after]:after, nav.main-nav ul li.item-4:hover .subnav a span[data-icon-after]:after, nav.main-nav ul li.item-4.touched .subnav a span[data-icon-after]:after {
	content: "1"
}
nav.main-nav ul li.item-2:hover .subnav .main-nav-adblock, nav.main-nav ul li.item-2.touched .subnav .main-nav-adblock, nav.main-nav ul li.item-3:hover .subnav .main-nav-adblock, nav.main-nav ul li.item-3.touched .subnav .main-nav-adblock, nav.main-nav ul li.contact:hover .subnav .main-nav-adblock, nav.main-nav ul li.contact.touched .subnav .main-nav-adblock, nav.main-nav ul li.item-4:hover .subnav .main-nav-adblock, nav.main-nav ul li.item-4.touched .subnav .main-nav-adblock {
	left: -100%;
	margin-left: 0
}
nav.main-nav ul li.item-2:hover .subnav .sub-subnav, nav.main-nav ul li.item-2.touched .subnav .sub-subnav, nav.main-nav ul li.item-3:hover .subnav .sub-subnav, nav.main-nav ul li.item-3.touched .subnav .sub-subnav, nav.main-nav ul li.contact:hover .subnav .sub-subnav, nav.main-nav ul li.contact.touched .subnav .sub-subnav, nav.main-nav ul li.item-4:hover .subnav .sub-subnav, nav.main-nav ul li.item-4.touched .subnav .sub-subnav {
	left: auto;
	right: 100%
}
}
@media screen and (min-width:770px) and (max-width:1012px) {
nav.main-nav ul li.item-2:hover .subnav, nav.main-nav ul li.item-2.touched .subnav {
	right: auto;
	left: -8px
}
nav.main-nav ul li.item-2:hover .subnav a span[data-icon-after]:after, nav.main-nav ul li.item-2.touched .subnav a span[data-icon-after]:after {
	content: "y"
}
nav.main-nav ul li.item-2:hover .subnav .main-nav-adblock, nav.main-nav ul li.item-2.touched .subnav .main-nav-adblock {
	left: 100%;
	margin-left: -1px
}
nav.main-nav ul li.item-2:hover .subnav .sub-subnav, nav.main-nav ul li.item-2.touched .subnav .sub-subnav {
	left: 100%;
	right: auto
}
}
nav.main-nav {
	margin-top: 10px;
	-webkit-transform: translate3d(0, 0, 0)
}
@media screen and (min-width:1040px) {
nav.main-nav {
	float: right;
	margin-top: 15px;
	margin-left: 218px
}
}
@media screen and (max-width:1040px) {
nav.main-nav {
	width: 100%;
	margin: 0;
	-webkit-transition: right .2s ease-in-out;
	-moz-transition: right .2s ease-in-out;
	transition: right .2s ease-in-out;
	position: absolute;
	top: 70px;
	right: -100%;
	margin-top: 15px
}
}
@media screen and (min-width:1040px) and (max-width:1080px) {
nav.main-nav {
	position: inherit;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	clear: none
}
}
@media screen and (max-width:400px) {
nav.main-nav {
	margin-top: -5px
}
}
@media screen and (max-width:640px) {
.mobile-menu {
	background: url("../images/icon-menu.png") no-repeat;
	background-size: 35px;
	width: 35px;
	height: 30px;
	margin: 30px 15px 0 0;
	float: right;
	cursor: pointer;
	display: block
}
}
@media screen and (min-width:1040px) {
nav.main-nav ul {
	overflow: visible!important
}
nav.main-nav li {
	width: auto;
	border: none;
	padding: 0 5px;
	position: relative;
}
}
@media screen and (min-width:1040px) and (max-width:800px) {
nav.main-nav li {
	padding: 0
}
}
@media screen and (min-width:1040px) {
nav.main-nav>ul>li.contact {
	background: none
}
nav.main-nav>ul>li.contact.mobile {
	display: none
}
nav.main-nav>ul>li.has-subnav:hover>a {
	background: #fff;
	cursor: pointer;
	opacity: 1
}
.has-subnav:hover>a {
	position: relative;
	z-index: 50
}
nav.main-nav>ul>li.has-subnav>span.overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: none;
	opacity: .75
}
.rgba nav.main-nav>ul>li.has-subnav>span.overlay {
	background: rgba(0,0,0,.75)
}
nav.main-nav>ul>li.has-subnav.show-overlay>span.overlay {
	display: block;
	z-index: 1
}
.has-subnav:hover>.subnav, .has-subnav.touched>.subnav {
	left: 8px;
	-webkit-animation: slideDown 2.5s ease forwards;
	-moz-animation: slideDown 2.5s ease forwards;
	-o-animation: slideDown 2.5s ease forwards;
	-ms-animation: slideDown 2.5s ease forwards;
	animation: slideDown 2.5s ease forwards
}
.has-subnav.lang:hover>.subnav, .has-subnav.lang.touched>.subnav, .has-subnav.contact:hover>.subnav, .has-subnav.contact.touched>.subnav {
	-webkit-animation: slideDown 2.5s ease forwards;
	-moz-animation: slideDown 2.5s ease forwards;
	-o-animation: slideDown 2.5s ease forwards;
	-ms-animation: slideDown 2.5s ease forwards;
	animation: slideDown 2.5s ease forwards
}
.has-subnav.lang:hover>.subnav, .has-subnav.lang.touched>.subnav, .has-subnav.lang.is-visible>.subnav, .has-subnav.contact.is-visible>.subnav {
	right: -8px
}
nav.main-nav>ul>li:hover>a, nav.main-nav>ul>li:hover>a>span[data-icon-after]:after {
	color: #e33244!important
}
nav.main-nav li:last-of-type {
	margin-right: 0;
	height:55px
}
.header-container nav.main-nav ul li a {
	padding-top: 0;
	color: #000;
	border: none;
	width: 100%!important;
	text-align: left;
	font-size: 16px;
	font-weight: normal;
	text-transform: none;
	background: none;
	padding: 0;
}
.header-container nav.main-nav>ul>li>a {
	padding: 10px 12px 23px 12px;
	-moz-border-radius-topright: 3px;
	-webkit-border-top-right-radius: 3px;
	border-top-right-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-webkit-border-top-left-radius: 3px;
	border-top-left-radius: 3px;
	display: block
}
nav.main-nav .subnav {
	position: absolute;
	float: none;
	background: #fff;
	left: -999em;
	z-index: 2;
	-moz-border-radius-bottomleft: 3px;
	-webkit-border-bottom-left-radius: 3px;
	border-bottom-left-radius: 3px
}
nav.main-nav .subnav ul {
	width: 261px;
}
nav.main-nav .subnav li {
	margin: 0;
	padding: 0;
	float: none;
	width: 100%;
	border-bottom: 1px solid #e4e4e4;
	position: static;
	height: auto
}
nav.main-nav .subnav li.back {
	display: none
}
nav.main-nav .subnav li.last {
	border-bottom: 0;
	padding-bottom: 15px
}
.header-container nav.main-nav .subnav li a {
	white-space: normal;
	font-size: 15px;
	color: #666;
	padding: 10px 50px 9px 25px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	height: auto
}
.header-container nav.main-nav .subnav-left .subnav li a, .header-container nav.main-nav .subnav.subnav-left>li>a {
	padding: 10px 25px 9px 50px
}
.subnav.subnav-left [data-icon-after]:after {
	content: attr(data-icon-before)
}
nav.main-nav .subnav>li.hover>a {
	background: #e33244;
	color: #fff;
	opacity: 1
}
nav.main-nav .subnav>li:hover>a {
	background: #e33244;
	color: #fff;
	opacity: 1
}
nav.main-nav .subnav>li.last>a:hover {
	-moz-border-radius-bottomleft: 3px;
	-webkit-border-bottom-left-radius: 3px;
	border-bottom-left-radius: 3px
}
nav.main-nav .subnav.subnav-left>li.last>a:hover {
	-moz-border-radius-bottomleft: 0;
	-webkit-border-bottom-left-radius: 0;
	border-bottom-left-radius: 0;
	-moz-border-radius-bottomright: 3px;
	-webkit-border-bottom-right-radius: 3px;
	border-bottom-right-radius: 3px
}
nav.main-nav .subnav li:hover a {
	background-color: #e33244;
	color: #fff
}
nav.main-nav .subnav li:hover a span[data-icon-after]:after, nav.main-nav .subnav>li.hover>a span[data-icon-after]:after {
	opacity: 1;
	color: #fff
}
nav.main-nav .subnav a span[data-icon-after]:after {
	position: absolute;
	right: 10px;
	color: #666;
	font-size: 10px;
	padding-top: 7px
}
nav.main-nav .subnav.subnav-left a span[data-icon-after]:after {
	right: auto;
	left: 10px
}
nav.main-nav .subnav .main-nav-adblock {
	background-color: #fff;
	position: absolute;
	top: 0;
	left: 100%;
	width: 100%;
	height: 100%;
	overflow: hidden;
	-moz-border-radius-bottomright: 3px;
	-webkit-border-bottom-right-radius: 3px;
	border-bottom-right-radius: 3px;
	background-position: right center;
	cursor: default;
	margin-left: -1px
}
nav.main-nav .subnav .main-nav-adblock .image {
	position: absolute;
	bottom: 0;
	right: 0;
	max-width: 100%
}
nav.main-nav .subnav.subnav-left .main-nav-adblock {
	-moz-border-radius-bottomright: 0;
	-webkit-border-bottom-right-radius: 0;
	border-bottom-right-radius: 0;
	-moz-border-radius-bottomleft: 3px;
	-webkit-border-bottom-left-radius: 3px;
	border-bottom-left-radius: 3px
}
nav.main-nav .subnav.subnav-left .main-nav-adblock {
	left: -144%;
	width: 144%;
	min-width: initial;
	margin-left: 1px
}
nav.main-nav .subnav .main-nav-adblock p, nav.main-nav .subnav .main-nav-adblock a {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-style: normal;
	font-weight: 200;
	color: #f00030!important;
	font-size: 28px;
	line-height: 1.2;
	text-transform: none;
	text-align: left;
	margin: 20px 120px 20px 21px;
	width: 50%;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	width: 100%;
	padding-right: 50%
}
nav.main-nav .subnav .main-nav-adblock a {
	cursor: pointer
}
.subnav .sub-subnav {
	display: none;
	position: absolute;
	left: 100%;
	background: #e33244;
	top: 0;
	min-height: 100%;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	-moz-border-radius-topright: 3px;
	-webkit-border-top-right-radius: 3px;
	border-top-right-radius: 3px;
	z-index: 2
}
.subnav.subnav-left .sub-subnav {
	left: -144%;
	border-top-right-radius: 0;
	border-top-left-radius: 3px
}
.subnav li:hover .sub-subnav, .subnav li.touched .sub-subnav {
	display: block
}
.subnav .sub-subnav a:hover {
	opacity: 1
}
.header-container nav.main-nav .subnav .sub-subnav a {
	color: #fff
}
nav.main-nav .lang .subnav {
	left: auto;
	right: -999em;
	overflow: hidden;
	position: absolute;
	background: #fff;
	top: 55px;
}
nav.main-nav .lang .subnav {
	min-width: 100%
}
nav.main-nav .lang .subnav .internat-sites {
	width: 100%;
	background: #fff;
}
nav.main-nav .lang .subnav .internat-sites ul {
	float: left;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}
nav.main-nav .lang .subnav .internat-sites ul {
	top: auto
}
nav.main-nav .lang .subnav li {
	border: 0
}
.header-container nav.main-nav .lang .subnav li {
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box
}
.header-container nav.main-nav .lang .subnav li a {
	border-radius: 0;
	display: block;
	padding: 10px 0 9px 25px;
	background: #fff
}
nav.main-nav .lang .subnav li a:hover {
	background-color: #e33244;
	color: #fff;
	opacity: 1
}
nav.main-nav .lang .subnav li a.active, nav.main-nav .lang .subnav li a.active:hover {
	background: #e33244;
	color: #666;
	cursor: text
}
nav.main-nav .lang .subnav li a img {
	margin: 0 5px 0 0;
	border: 1px solid #ebecec
}
nav.main-nav .contact .subnav {
	overflow: hidden;
	background: #fff;
	min-width: 350px;
	top: 55px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-border-radius-topright: 0;
	-webkit-border-top-right-radius: 0;
	border-top-right-radius: 0
}
.header-container nav.main-nav .subnav .heading {
	color: #ed1c2e;
	font-size: 20px;
	text-transform: none;
	text-align: left;
	padding: 0 20px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-style: normal;
	font-weight: 200;
	margin: 20px 0 10px
}
.header-container nav.main-nav .subnav .heading [data-icon]:before {
	color: #e33244;
	margin-right: 10px
}
nav.main-nav .lang .subnav .internat-sites .twocolnav {
	display: none
}
nav.main-nav .lang .subnav div ul {
	position: relative
}
.contact .subnav p {
	font-size: 14px;
	text-transform: none;
	cursor: default;
	padding: 0 20px;
	text-align: left;
	color: #767676
}
.header-container nav.main-nav .contact .subnav a {
	font-size: 15px;
	padding: 0 20px;
	text-align: left;
	color: #3a83cf;
	cursor: pointer;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-style: normal;
	font-weight: bold
}
.header-container nav.main-nav .contact .subnav a.button {
	color: #fff;
	text-align: center;
	margin: 20px;
	display: block;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: auto!important;
	padding: 5px 0;
	background: #3a83cf;
	height: auto
}
.header-container.safari nav.main-nav .contact .subnav a.button {
	width: 310px!important
}
.contact .subnav .heading {
	margin: 10px 0
}
.contact .subnav .heading[data-icon]:before {
	color: #e33244;
	margin-right: 10px
}
.header-container .minimise nav.main-nav {
	margin-top: 23px;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	-ms-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out
}
.main-nav .contact.mobile a:hover {
	background: inherit
}
nav.main-nav .subnav li.section-title {
	display: none
}
nav.desktop-touch .subnav li.section-title {
	display: block;
	border-bottom: none
}
nav.desktop-touch .subnav li.section-title a {
	font-weight: bold
}
}
@media screen and (max-width:1040px) {
.main-nav-adblock {
	display: none!important
}
}
@media(max-width:1012px) {
.threecolnav {
	display: none
}
nav.main-nav .lang .subnav .internat-sites .twocolnav {
	display: block
}
nav.main-nav .lang .subnav {
	min-width: 420px
}
nav.main-nav .lang .subnav .internat-sites .twocolnav ul {
	display: block;
	width: 50%;
	float: left
}
nav.main-nav, .confirmation-page nav.main-nav {
	clear: left;
	float: none;
	width: 98%;
	margin-top: 70px;
	margin-left: 0
}
nav.main-nav li ul {
	width: auto
}
}
@media only screen and (max-width:1040px) {
.mobile-menu {
	background: url("../images/icon-menu.png") no-repeat;
	background-size: 35px;
	width: 35px;
	height: 30px;
	margin: 22px 15px 0 0;
	float: right;
	cursor: pointer;
	display: block
}
.mm-open {
	background: #0c3560;
	overflow: visible
}
.mm-open .mobile-menu {
	background-image: url("../images/icon-menu.png");
	background-position: -18px -42px;
	background-size: 52px;
	background-repeat: no-repeat
}
.mm-open nav.main-nav {
	right: 0;
	width: 100%;
	margin-top: 0
}
nav.main-nav ul {
	background: #0c3560
}
nav.main-nav li {
	width: 100%;
	border: 0;
	padding: 0;
	margin: 0;
	border-bottom: 1px solid #d7d7d7;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background: inherit
}
nav.main-nav li.contact a {
	color: #fff
}
nav.main-nav .subnav li {
	background-color: #e7e7e7
}
.header-container header nav.main-nav li.section-title a {
	font-weight: bold
}
nav.main-nav .subnav .image {
	display: none
}
nav.main-nav .sub-subnav {
	background-color: #184572;
	z-index: 60
}
nav.main-nav a [data-icon]:before {
	font-size: 12px;
	margin-right: 8px;
	color:#A8A8A8
}
.header-container header .has-subnav.lang>a {
	display: none
}
.has-subnav.lang img {
	margin-right: 20px
}
nav.main-nav .subnav, nav.main-nav .sub-subnav {
	right: 0;
	top: 0;
	bottom: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 50;
	background: #e7e7e7
}
.header-container header nav.main-nav li a {
	text-align: left;
	text-transform: none;
	font-weight: normal;
	padding: 0 20px;
	display: block;
	line-height: 1.5;
	padding: 15px 15px;
	font-size: 16px;
	position: relative;
	margin: 0
}
nav.main-nav>ul>li.has-subnav {
	background-color: #e7e7e7;
	-moz-transition: background-color .5s ease-in-out;
	-ms-transition: background-color .5s ease-in-out;
	-o-transition: background-color .5s ease-in-out;
	-webkit-transition: background-color .5s linear;
	transition: background-color .5s ease-in-out
}
nav.main-nav .subnav li .image {
	display: none
}
nav.main-nav .desktop {
	display: none
}
nav.main-nav .mobile .language, nav.main-nav .mobile .location, nav.main-nav .mobile a.back {
	background: #0c3560;
	border-top: 1px solid #284b70;
	line-height: 3.5;
	padding: 0px 15px;
	position: relative;
	overflow: hidden;
	margin: 0
}
nav.main-nav .mobile .language {
	border-bottom: 1px solid #284b70
}
nav.main-nav .mobile .language, nav.main-nav .mobile .location {
	background: #C2C2C2;
	border-top: none;
	height:40px;
	line-height:40px
}
nav.main-nav .mobile span {
	margin: 0 0 0 16px!important;
	color: #000;
	text-transform: none;
	text-align: left;
	width: 30%;
	font-size: 16px
}
.header-container header nav.main-nav .mobile span.customSelect {
	padding: 0;
	background: none;
	border: 0;
	float: right;
	width: 50%
}
.header-container header nav.main-nav .mobile span.customSelect .customSelectInner {
	background: url("../images/main-nav-customSelect-arrows.png") no-repeat 97% center;
	width: 100%!important
}
nav.main-nav .mobile .hasCustomSelect {
	width: 50%!important;
	height: 100%!important;
	right: 0;
	left: auto!important;
	cursor: pointer;
	top: auto!important;
	-webkit-tap-highlight-color: transparent
}
nav.main-nav .mobile img {
	margin-top: 5px
}
nav.main-nav li:last-of-type {
	border-bottom: none
}
nav.main-nav ul li.opened>a>span[data-icon-after]:after {
	content: "1"
}
.mobile-menu {
	display: block
}
nav.main-nav>ul>li.has-subnav>span.overlay {
	display: none
}
}
@media only screen and (max-width:400px) {
.mobile-menu {
	margin-top: 20px
}
.mm-open nav.main-nav {
	top: 70px
}
}
@media only screen and (min-width:640px) {
nav.main-nav .lang .subnav li a:hover, .header-container nav.main-nav .langs a:hover {
	background-color: #fff;
	color: #000;
	opacity: 1
}
.header-container nav.main-nav .langs a {
	background: url("../images/fake-radio.png") no-repeat 20px center;
	padding: 5px 0 0 50px
}
.header-container.safari nav.main-nav .langs a {
	background-size: auto
}
.header-container nav.main-nav .langs a.active {
	background: url("../images/fake-radio-active.png") no-repeat 20px center;
	background-color: #d2e1f0;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	border-radius: 0;
	color: #000
}
nav.main-nav .lang .subnav .langs {
	width: 20%;
	float: left
}
.full-lb ul li, .hiw-holder ul li {
	width: 100%!important
}
}
@media only screen and (min-width:1040px) {
nav.lang-select .lang .subnav {
	min-width: 790px
}
nav.lang-select .lang .subnav .internat-sites {
	width: 80%;
	float: left
}
nav.lang-select .lang .subnav .langs {
	width: 20%;
	float: left
}
}

.flag, nav.main-nav .mobile span.flag {
	display: inline-block;
	background-size: cover;
	width: 24px;
	height: 20px;
	margin: 0px
}
nav.main-nav .mobile span.title {
	width: 50%
}
.main-nav ul ul .flag {
	margin: -5px 5px 0 0;
	vertical-align: middle
}
nav.main-nav .mobile span.flag {
	position: absolute;
	left: 40%;
	top: 40%
}

.CN {background-image:url(../images/flag_cn.png) !important}
.HK {background-image:url(../images/flag_hk.png) !important}
.EN {background-image:url(../images/flag_en.png) !important}