<include file="Public:indexhead"/>
<script>
    $('.card').hover(function(){$('.card').toggleClass('applyflip');}.bind(this));
</script>
<img class="banner-image" src="__PUBLIC__/index/images/banner-01.jpg" alt="" style="display: block;opacity: 1;margin-top:75px;">

<!--<div id="slideshow">
            <div class="revolution-slider">
                <ul>
                    <li data-transition="fade">
                        <img src="images/banner-01.jpg">
                    </li>
                </ul>
            </div>
        </div>
-->
<section id="content">

    <div class="section">
        <div class="container">

            <div class="row center desktop">
                <div class="boxrow">

                    <div class="box1">

                        <div class="card effect__hover">
                            <div class="card__front">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td class="boxcenter"><img src="__PUBLIC__/speedlink/images/icons-product_06.png" class="img-responsive" style="margin:0 auto; max-width:100px"><br>RMB中國代收代付</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="card__back">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td class="boxcenter">網銀渠道(線上)，365日24小時運作，即時到款<br>
                                            <a href="/home/list/product" class="btn style2 mt-md">了解更多</a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>


                    </div>

                </div>
            </div>


            <div class="row center mobile">
                <div class="boxrow">

                    <div class="box1">

                        <div class="card effect__click">
                            <div class="card__front">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td class="boxcenter"><img src="__PUBLIC__/speedlink/images/icons-product_06.png" class="img-responsive" style="margin:0 auto; max-width:100px"><br>RMB中國代收代付</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="card__back">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td class="boxcenter">網銀渠道(線上)，365日24小時運作，即時到款<br>
                                            <a href="/home/list/product" class="btn style2 mt-md">了解更多</a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>


                    </div>

                </div>

            </div>
        </div>
    </div>

    <div class="section  banner-color1">
        <div class="container">
            <div class="heading-box">
                <h2 class="box-title">為什麼選擇<span>{$site_name}</span></h2>
            </div>
            <div class="row">
                <div class="col-sm-4 col-md-4">
                    <div class="icon-box style-boxed-3 box">
                        <div class="icon-container">
                            <i class="fa fa-lock"></i>
                        </div>
                        <div class="box-content">
                            <h4 class="box-title"><a href="#">安全</a></h4>
                            <p>我們將使用頂尖加密科技來保障您的資料及安全性，我們的網站及系統亦已經由世界性的安全認證機構所認證。</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4">
                    <div class="icon-box style-boxed-3 box">
                        <div class="icon-container">
                            <i class="fa fa-cubes"></i>
                        </div>
                        <div class="box-content">
                            <h4 class="box-title"><a href="#">可擴展性</a></h4>
                            <p>憑藉獨特的科技及開放式的結構，我們的產品及系統能夠因應客戶的要求而進行調整。</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4">
                    <div class="icon-box style-boxed-3 box">
                        <div class="icon-container">
                            <i class="fa fa-mortar-board"></i>
                        </div>
                        <div class="box-content">
                            <h4 class="box-title"><a href="#">穩健</a></h4>
                            <p>我們的產品及系統都經過一定時間的測試及實際運作，以確保安全性、表現及效率都符合要求。</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="section">
        <div class="container">
            <div class="heading-box">
                <h2 class="box-title">客戶推薦</h2>
            </div>
            <div class="testimonials style1 owl-carousel" data-items="3" data-itemsPerDisplayWidth="[[0, 1], [480, 1], [768, 1], [992, 2], [1200, 3]]">
                <div class="testimonial style1 box-lg">
                    <div class="testimonial-image">
                        <img src="__PUBLIC__/speedlink/images/client/1.jpg" alt="">
                    </div>
                    <div class="testimonial-content">
                        過程比以往所需的更為順暢，而客戶服務的表現也非常出色。
                    </div>
                    <div class="testimonial-author">
                        <span class="testimonial-author-name">Jason</span> - <span class="testimonial-author-job">CFO</span>
                    </div>
                </div>
                <div class="testimonial style1 box-lg">
                    <div class="testimonial-image">
                        <img src="__PUBLIC__/speedlink/images/client/2.jpg" alt="">
                    </div>
                    <div class="testimonial-content">
                        已成為我們主要的外匯處理工具。
                    </div>
                    <div class="testimonial-author">
                        <span class="testimonial-author-name">Martin</span> - <span class="testimonial-author-job">CEO</span>
                    </div>
                </div>
                <div class="testimonial style1 box-lg">
                    <div class="testimonial-image">
                        <img src="__PUBLIC__/speedlink/images/client/3.jpg" alt="">
                    </div>
                    <div class="testimonial-content">
                        簡單易用的平台
                    </div>
                    <div class="testimonial-author">
                        <span class="testimonial-author-name">Sandra</span> - <span class="testimonial-author-job">CEO</span>
                    </div>
                </div>
                <div class="testimonial style1 box-lg">
                    <div class="testimonial-image">
                        <img src="__PUBLIC__/speedlink/images/client/4.jpg" alt="">
                    </div>
                    <div class="testimonial-content">
                        透明度高的收費及具效率的團隊令我為之著迷
                    </div>
                    <div class="testimonial-author">
                        <span class="testimonial-author-name">Alfred</span> - <span class="testimonial-author-job">CEO</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<include file="Public:indexfooter"/>