<include file="Public:indexhead"/>

<div class="page-title-container">
    <div class="page-title">
        <div class="container">
            <h1 class="entry-title">RMB中國代收代付</h1>
        </div>
    </div>
</div>

<section id="content">
    <div class="section">
        <div class="container">
            <div class="col-md-offset-1 col-md-10 col-md-offset-1 center">

                <div class="row">
                    <div class="col-md-3 mb-lg text-left"><img src="__PUBLIC__/index/images/icons-product_01.png" class="img-responsive appear-animation fadeInUp appear-animation-visible" data-appear-animation="fadeInUp" style="margin:0 auto; max-width:150px"></div>
                    <div class="col-md-9 pull-left">

                        <p class="mb-md">網銀渠道(線上)，365日24小時運作，即時到款</p>
                        <ul class="listbox">
                            <li>為國內第三方支付機構的總代理</li>
                            <li>提供網上支付通道，為企業提供人民幣在線代收及代付服務</li>
                            <li>24小時入金(5分鐘到帳)和出金(1小時到帳)</li>
                            <li>獨立專用商戶號，確保資金安全性</li>
                            <li>支持16間國內銀行</li>
                            <li>高度加密入金和出金技術接口</li>
                            <li>24小時運作和技術支援，365日全年無休</li>
                        </ul>

                        <a href="/home/list/contactus" data-toggle="modal" class="btn btn-md style1 mt-md">立即使用</a>

                    </div>
                </div>

            </div>
        </div>
    </div>
</section>


<include file="Public:indexfooter"/>