<extend name="Public/base" />
<block name="main-content">
    <div class="page-content">
        <div class="row white">
            <div class="col-xs-12">
                <form class="form-horizontal ajaxForm2" name="telegram_user_edit" method="post" action="{:U('runtelegram_user_edit')}">
                    <input type="hidden" name="telegram_id" id="telegram_id" value="{$telegram_user_edit.telegram_id}" />
                    <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 所属客户名称： </label>
                        <div class="col-sm-10">
                            <select name="user_id" class="col-sm-4 selector" required>
                                <option value="">请选择所属客戶</option>
                                <foreach name="user_list" item="v">
                                    <option value="{$v.user_id}" <if condition="$telegram_user_edit['user_id'] eq $v['user_id']">selected</if>>{$v.member_name}</option>
                                </foreach>
                            </select>
                        </div>
                    </div>
                    <div class="space-4"></div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right" for="form-field-1"> Telegram_Group_Id：  </label>
                        <div class="col-sm-10">
                            <input type="text" name="telegram_user_id" id="telegram_user_id" value="{$telegram_user_edit.telegram_user_id}" class="col-xs-10 col-sm-5" required/>
                            <span class="lbl col-xs-12 col-sm-7"><span class="red">*</span>必填</span>
                        </div>
                    </div>
                    <div class="space-4"></div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 客戶組名稱：  </label>
                        <div class="col-sm-10">
                            <input type="text" name="telegram_user_name" id="telegram_user_name" value="{$telegram_user_edit.telegram_user_name}" class="col-xs-10 col-sm-5" />
                        </div>
                    </div>
                    <div class="space-4"></div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 类型：  </label>
                        <div class="col-sm-10">
                        <div class="radio" >
                            <label>
                                <input name="telegram_type" <if condition="$telegram_user_edit['telegram_type'] eq 0">checked</if> id="telegram_type_1" checked type="radio" class="ace" value="0"/>
                                <span class="lbl"> 入金</span>
                            </label>
                            <label>
                                <input name="telegram_type" <if condition="$telegram_user_edit['telegram_type'] eq 1">checked</if> id="telegram_type" type="radio" class="ace" value="1"/>
                                <span class="lbl"> 出金</span>
                            </label>

                        </div>
                        </div>
                    </div>
                    <div class="space-4"></div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 備註：  </label>
                        <div class="col-sm-10">
                            <input type="text" name="remark" id="remark" value="{$telegram_user_edit.remark}" class="col-xs-10 col-sm-5" />
                        </div>
                    </div>
                    <div class="space-4"></div>


                    <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 状态： </label>
                        <div class="col-sm-10" style="padding-top:5px;">
                            <input name="status" <if condition='$telegram_user_edit.status eq 1'>checked</if> id="status" value="1" class="ace ace-switch ace-switch-4 btn-flat" type="checkbox" />
                            <span class="lbl">&nbsp;&nbsp;默认隐藏</span>
                        </div>
                    </div>
                    <div class="space-4"></div>


                    <div class="clearfix form-actions">
                        <div class="col-md-offset-3 col-md-9">
                            <button class="btn btn-info" type="submit">
                                <i class="ace-icon fa fa-check bigger-110"></i>
                                保存
                            </button>

                            &nbsp; &nbsp; &nbsp;
                            <button class="btn" type="reset">
                                <i class="ace-icon fa fa-undo bigger-110"></i>
                                重置
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div><!-- /.page-content -->
</block>