<include file="Public:header"/>
<div class="m-t-md wrapper-md" style="word-wrap: break-word; word-break: break-all;">
    <div class="container aside-xxxl text-center">
        <div class="panel panel-default" style="padding-bottom:30px">
            <div class="panel-body">
                <span style="font-size:49px; font-weight:bold;" class="text-danger">{$message}</span><br>
                <span style="font-size:13px"><b>訂單號:</b>{$order_number}</span><br><br>
                <span style="font-size:13px"><b>訂單金額:</b>{$order_amount}</span><br><br>
                <span style="font-size:13px"><b>成功時間:</b>{$sett_date}</span><br><br>
                <a class="btn btn-danger nextBtn btn-lg btn-rounded" href="{$source}">Back</a>
            </div>
        </div>
    </div>
</div>
<include file="Public:footer"/>