<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>易通财电子商务有限公司</title>
    <link href="__PUBLIC__/pay/common/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="__PUBLIC__/pay/common/css/bootstrap-theme.css" rel="stylesheet" type="text/css">
    <link href="__PUBLIC__/pay/common/css/style.css" rel="stylesheet" type="text/css">
    <script src="__PUBLIC__/pay/common/js/jquery-1.11.3.min.js"></script>
    <script src="__PUBLIC__/pay/common/js/bootstrap.js"></script>
</head>
<body>
<div>
    <section>
        <div class="top">
            <!--<img src="__PUBLIC__/pay/common/logo.png" class="logo"><h1>在线支付</h1>-->
        </div>
    </section>
    <form method="post" action="#" name="payment" class="form-horizontal">
        <section>
            <div class="paypal_header">
                免责声明
            </div>
            <div class="clearfix"></div>
            <div class="box">

                <ul class="term">
                    <li><b>{$u_name}</b>将不会就因使用本支付平台及因本支付平台提供的任何资料或服务的准确性或完整性所遭受或产生的任何直接、间接、特殊或相应性损失或损害承担任何责任。</li>
                    <li><b>{$u_name}</b>将尽力提供一个方便实用的支付平台，但是我们却不能保证内容正确无误，也不能保证本支付平台或运作的伺服器全无电脑病毒或其他有害成份。</li>
                    <li><b>{$u_name}</b>将尽合理的努力保存内容，但我们并不承诺为该内容提供支援或维护服务。<b>{$u_name}</b>促请您为在本支付平台张贴、保存或使用的内容製作备份。</li>
                    <li><b>{$u_name}</b>会尽一切努力使您在使用本支付平台的过程中得到便利。遗憾的是，<b>{$u_name}</b>不能随时预见到任何技术上的问题或其他困难。该等困难可能会导致资料损失或其他服务中断。为此，您明确理解和同意，您使用本支付平台的风险由您自行承担。平台服务以“按现状”和“按可得到”的基础提供。</li>
                    <li><b>{$u_name}</b>明确声明不作出任何种类的所有明示或暗示的保证，包括但不限于关于适销性、适用于某一特定用途和无侵权行为等方面的保证。<b>{$u_name}</b>对您使用本支付平台(以下简称“服务”) 的下述内容不作保证：</li>
                    <ul>
                        <li>(i)“服务”会符合您的要求；</li>
                        <li>(ii)“服务”不会中断，且适时、安全和不带任何错误；</li>
                        <li>(iii) 通过使用“服务”而可能获取的结果将是准确或可信赖的；</li>
                        <li>(iv) 您通过“服务”而获取的任何资料或其他材料的品质将符合您的预期。</li>
                    </ul>
                    <li>您通过使用“服务”而获取任何材料是由您自行全权决定进行的，与此有关的风险由您自行承担，对于因您使用本支付平台而发生的您的电脑系统的任何损毁或任何资料损失，您将自行承担责任。您从<b>{$u_name}</b>获取的任何口头或书面意见或资料，均不产生明确载明的任何保证。</li>
                    <li>您明确理解和同意，<b>{$u_name}</b>不对因下述任一情况而发生的任何损害赔偿承担责任，包括但不限于获利、名誉、使用、资料等方面的损失或其他有形无形损失的损害赔偿(无论<b>{$u_name}</b>是否已被告知该等损害赔偿的可能性)：</li>
                    <ul>
                        <li>(i) 使用或未能使用“服务”；</li>
                        <li>(ii) 因通过或从“服务”获取任何商品、数据、资料或服务，或通过“服务”接收任何信息或缔结任何交易所产生的获取替代商品和服务的费用；</li>
                        <li>(iii) 未经批准接入或更改您的传输资料或资料；</li>
                        <li>(iv) 任何第三者对“服务”的声明或关于“服务”的行为；</li>
                        <li>(v) 因任何原因而引起的与“服务”有关的任何其他事宜，包括疏忽。</li>
                    </ul>
                    <li>若任何司法权区不容许按上述声明对隐含保证的免除，但容许在某最大范围内限制责任，则<b>{$u_name}</b>将限制相关的责任于该范围内。</li>
                    <li>您在使用本支付平台和任何由本支付平台提供的资料或服务时，当义无反悔地及无条件地接纳本免责声明并同意受其约束。</li>

                </ul>
                <button class="submit_button" href="#" onclick="javascript:window.close();">关闭本页</button>        </div>
        </section>
</body>
</html>