<include file="Public:head"/>
<include file="Public:nav"/>

<section id="content" class="modal-open">
	<section class="hbox stretch">
		<section class="vbox">



			<section class="scrollable padder">
				<section class="row m-b-md">
					<div class="col-md-12">
						<h3 class="m-b-xs">修改密碼</h3>
					</div>
				</section>
                <form class="form-light form-horizontal ajaxForm" id="runchangepwd"  action="{:UU('Userinfo/runchangepwd')}" method="post">
				<section class="panel panel-default">
					<div class="panel-body">
						<div><label class="col-md-3 control-label" for="input-id-1">輸入舊密碼：<span class=" text-danger">*</span></label>
							<input name="old_password" type="password" class="input-sm input-s-sm inline form-control"></div>
					</div>
					<div class="panel-body">
						<div><label class="col-md-3 control-label" for="input-id-1">輸入新密碼：<span class=" text-danger">*</span></label>
							<input name="password" type="password" class="input-sm input-s-sm inline form-control"></div>
					</div>
					<div class="panel-body">
						<div><label class="col-md-3 control-label" for="input-id-1">再次輸入新密碼：<span class=" text-danger">*</span></label>
							<input name="repassword" type="password" class="input-sm input-s-sm inline form-control"></div>
					</div>
				</section>
				<div class="col-md-12">
                    <button type="submit" class="btn btn-s-md btn-danger m-b-md btn-rounded pull-right">提交</button>
				</div>
            </form>
			</section>

		</section>
	</section>
</section>

<include file="Public:footer"/>